title: Installing Crate
description: Download Crate. Easy installation of Crate in the cloud, docker, *nix and OSX. Works with Java, Python, Ruby, PHP, Node.js, erlang, Mono, Golang, and dbext
stable_version: 0.49.5
stable_version_date: July 7th, 2015
testing_version: 0.50.0

{% extends "install.html" %}

{% block header %}
<div class="wrapper wrapper-border">
  <div class="container">
    <h1 id="{{ title|slugify }}">{{ title }}</h1>
    <p class="lead">From a 2-person startup team to the enterprise company with a full IT staff, Crate is easy to install, manage, and scale. Choose:</p>
  </div>
</div>
{% endblock %}

{% block install_content %}

<div class="install">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#local" aria-controls="local" role="tab" data-toggle="tab">
        <div class="install-option">
          <img class="img-responsive" src="{% static '/static/images/icon_local.png' %}" alt="Local installation" />
        </div>
        <p class="install-label">On your machine</p>
      </a>
    </li>

    <li role="presentation">
      <a href="#cloud" aria-controls="cloud" role="tab" data-toggle="tab">
        <div class="install-option">
          <img class="img-responsive" src="{% static '/static/images/icon_cloud.png' %}" alt="Cloud" />
        </div>
        <p class="install-label">In the cloud</p>
      </a>
    </li>

    <li role="presentation">
      <a href="#docker" aria-controls="docker" role="tab" data-toggle="tab">
        <div class="install-option">
          <img class="img-responsive" src="{% static '/static/images/icon_docker.png' %}" alt="Docker" />
        </div>
        <p class="install-label">On Docker</p>
      </a>
    </li>

    <li role="presentation">
      <a href="{% url '/install/overview.html' %}" >
        <div class="install-option">
          <img class="img-responsive" src="{% static '/static/images/icon_options.png' %}" alt="More options" />
        </div>
        <p class="install-label">More options &raquo;</p>
      </a>
    </li>
  </ul>

  <div class="row">
  <!-- Tab panes -->
    <div class="col-sm-8 tab-content">
      <div role="tabpanel" class="tab-pane active" id="local">
        <h2><a name="sandbox">Try in a local sandbox</a></h2>
        <p>Use our easy one-step command to launch Crate in a sandboxed environment: Hint: Launch it on two or more machine in the same network :)</p>
        <pre class="codehighlight click2select_try"># <span class="click2select_try_content"><span class="nd">bash</span> <span class="o">-c</span> <span class="s">"<span class="nl">$(curl -L try.crate.io)</span>"</span></span></pre>
        <p>Insert your data or play around with the live Twitter stream as sample data.</p>
        <hr />

        <h2><a name="sandbox">Install on your local machine</a></h2>
        <p>Quick install on your Linux machine. Use our easy one-step command to install the Crate repository for your package manager and download Crate.</p>
        <pre class="codehighlight click2select_install"># <span class="click2select_install_content"><span class="nd">bash</span> <span class="o">-c</span> <span class="s">"<span class="nl">$(curl -L install.crate.io)</span>"</span></span></pre>
        <p>Crate will run on port 4200. You can use the Web-UI (/admin) or connect with the <a href="https://crate.io/docs/stable/hello.html">command line utility</a>.</p>
        <hr />

        <h2><a name="tarball">Download the Tarball</a></h2>
        <form class="well form-horizontal" id="form-download"
              data-url="https://cdn.crate.io/downloads/releases/crate-{{ stable_version }}.tar.gz"
              data-required="false">
          <fieldset>
            <p>Version <strong>{{ stable_version }}</strong><br /><small class="text-muted">Released on {{ stable_version_date }}</small></p>
            <button type="submit" class="btn btn-primary" id="download-main"><i class="fa fa-download"></i> Download .tar.gz</button>
          </fieldset>
        </form>
        <p>Testing builds of Crate should be used for testing upcoming new features only and should not be used in production. <a href="https://cdn.crate.io/downloads/releases/crate-{{ testing_version }}.tar.gz" target="_blank">Download latest testing release.</a></p>
        <p>Nightly builds of Crate are provided for testing purposes only. You can also <a href="https://cdn.crate.io/downloads/releases/nightly/" target="_blank">download the latest builds</a>.</p>

      </div>

      <div role="tabpanel" class="tab-pane" id="cloud">
        <h2><a name="google" href="{% url '/blog/click-to-deploy-crate-on-google-compute-engine.html' %}">Click-to-Deploy with Google</a></h2>
        <p>Absolutely the easiest way to get started with Crate.<br/>
          Try Google's <a href="https://cloud.google.com/launcher/details/click-to-deploy-images:crate?q=crate">Click-to-Deploy installer</a> for the Google Cloud Platform to launch a Crate cluster in minutes (requires a Google cloud account).</p>
          <!--<p><code><a href="https://cloud.google.com/launcher/details/click-to-deploy-images:crate?q=crate">https://cloud.google.com/launcher/details/click-to-deploy-images:crate</a></code></p>-->
        <p>Read our blog post on <a href="{% url '/blog/click-to-deploy-crate-on-google-compute-engine.html' %}">using Click-to-Deploy to install Crate</a> &raquo;</p>
        <hr />
        <h2><a name="cloud" href="{% url '/install/cloud/index.html' %}">Deploy on other cloud providers</a></h2>
        <p>Cloud providers Amazon (AWS), Google (GCE), Microsoft Azure, and IBM Softlayer allow you to deploy Crate easily in the cloud.</p>
        <p>Learn how to <a href="{% url '/install/cloud/index.html' %}">install Crate in the cloud</a> &raquo;</p>
        <hr />
      </div>

      <div role="tabpanel" class="tab-pane" id="docker">

        <h2><a name="docker" href="{% url '/install/docker.html' %}">Quick Install using Docker</a></h2>
        <p>The most convenient way to run Crate on your Linux host using <a href="{% url '/install/docker.html' %}">Docker</a>.</p>
        <p>It will not only keep your host system clean but also allows you to scale your backend from a single machine to a multi-node cluster easily.</p>
        <pre class="codehighlight click2select_dockerPull"># <span class="click2select_dockerPull_content"><span class="nd">docker</span> <span class="ni">pull</span> <span class="ni">crate</span></span></pre>
        <pre class="codehighlight click2select_dockerRun"># <span class="click2select_dockerRun_content"><span class="nd">docker</span> <span class="ni">run</span> <span class="o">-p</span> <span class="m">4200:4200</span> <span class="ni">crate</span></span></pre>
        <p>Then visit your host on port <code>4200</code> in the browser, e.g.<br/>
          <code>http://127.0.0.1:4200/admin/</code></p>
        <p><strong>Read more in-depth about <a href="{% url '/install/docker.html' %}">installing Crate with Docker</a> &raquo;</strong></p>
        <hr />
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        <h4><i class="fa fa-book"></i> Documentation</h4>
        <p>Server manual <small class="text-muted">({{ stable_version }})</small> <a href="/docs/stable/">Read &raquo;</a>
        <br />Client Docs <a href="{% url '/docs/clients.html' %}">Read &raquo;</a></p>
      </div>
      {% include "mailchimp-small.html" %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  jQuery.fn.selectText = function(){
     var doc = document;
     var element = this[0];
     console.log(this, element);
     if (doc.body.createTextRange) {
         var range = document.body.createTextRange();
         range.moveToElementText(element);
         range.select();
     } else if (window.getSelection) {
         var selection = window.getSelection();
         var range = document.createRange();
         range.selectNodeContents(element);
         selection.removeAllRanges();
         selection.addRange(range);
     }
  };

  $(document).ready( function(){
    $(".click2select_try").click( function(){
      $(this).find(".click2select_try_content").selectText();
    });
    $(".click2select_install").click( function(){
      $(this).find(".click2select_install_content").selectText();
    });
    $(".click2select_dockerPull").click( function(){
      $(this).find(".click2select_dockerPull_content").selectText();
    });
    $(".click2select_dockerRun").click( function(){
      $(this).find(".click2select_dockerRun_content").selectText();
    });
  });
</script>
{% endblock %}
