title: 概要
description: Crate は、表形式データ、半構造のレコード及びバイナリ―オブジェクト(Blobs)用の1つのパワフルなバックエンドです。それは極めて有用で、何十億ものレコードに1秒以下での対応を可能にしており、リアルタイムの大量平行アクセスを提供します。

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero" id="wrapper-hero-overview">
  <div class="container">
    <h1>クレートデータ（Crate）:簡単にリアルタイムSQLデータ保存を拡張</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>拡張可能シンプル高速</h2>
      <p><strong>Crate は、何も共有せず、フルに検索可能、ドキュメント指向クラスター型データ保存です： データ集中処理型のアプリ、モノのインターネット、あるいはリアルタイム分析用の高速かつパワフルな大量の拡張可能なバックエンド。100％オープンソースです。</strong></p>
      <p><strong>Crate.IO は、SQLを利用してアクセスできる強力な検索（ライブラリーが含まれたElasticsearch）のあるNoSQLドキュメントデータベースのメリットでデータを保存します。</strong></p>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>パワフルかつ超高速</h2>
      <p>Crate は、表形式データ、半構造のレコード及びバイナリ―オブジェクト(Blobs)用の1つのパワフルなバックエンドです。それは極めて有用で、何十億ものレコードに1秒以下での対応を可能にしており、リアルタイムの大量平行アクセスを提供します。</p>
      <h2>ゼロ管理</h2>
      <p>全てのCrate.IO ノードは同じです。商品ハードウエア、またはクラウド上でノードを追加するのは、端末上での1つのコマンドラインと同様にシンプルです。Crate Dataクラスターは自己設定かつ自己回復型です。</p>
      <h2>Crateを利用する理由？</h2>
      <p>Crate は拡張可能なリアルタイムのソリューションであり、大きなコスト効果の優位性をもらたします。Crate.IO はリレーショナルSQL (例、MySQL)、NoSQL (例、MongoDB)そして検索(Lucene/ES)を組み合わせたユニークなポジションを占めています。</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive thumbnail" src="{% media '/media/1502/crate-architecture.png' %}" />
    </div>
    <div class="col-sm-6">

      <h3>何も共有しないアーキテクチャー</h3>
      <h3>高速かつ簡単に利用可</h3>
      <p>1秒以下で読み込みと書き込みを行うためにSQLを利用します。</p>
      <h3>高い利用可能性</h3>
      <p>Crateクラスターは永続性、回復性があります。失敗したノードは削除され、新たなノードが追加されます。</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>CRATE VS.一連のテクノロジー</h2>
      <p>Crate.IO は、データ集中型のバックエンドを持つ開発者が文書、blobを保存し、リアルタイム検索をサポートするために、いくつかの技術を「接着する」必要が無くなるよう、構築されました。当社は、開発者が良い形で大量の非正規化データ保存の維持を行うために必要とされる微調整、断片作業、複製そしてその他の操作に伴う手作業を行わなくともよくなるようにもしたかったのです。当社は、誰もが1つのマシーン、多くのマシーン、またはクラウド上で利用できるシンプルで故障の無い大量の拡張可能なデータ保存を望んでいました。</p>
      <p>データ集中型のアプリ用のデータ保存は永続的かつ水平に拡張可能であり、以下の5つの要件をサポートする必要があります：</p>
      <p>(1) 文書保存、(2) blob、(3) 再度それを見つける、(4) クエリを動作させる（分析）、そして(5) 必要時にデータ構造に直接変更を加えることが可能。</p>
      <p>開発者はいくつかの技術を結び付け、同じ結果にたどり着くことができなかったのでしょうか？ここに事例があります：</p>
      <ul>
        <li>MongoDB + ElasticSearch + GridFS。GridFSはblob保存をサポートし、ElasticSearch検索を行い、MongoDBはその残りを行います。データ構造の変更を行うことは難しいかもしれませんが、拡張し、マルチノード環境は管理が難しいかもしれません。</li>
        <li>Riak + Solr + Rados。blob保存用のRados、検索用のSolr、そしてその残りにRiak。これは極めて、最初のオプションに類似しており、同様にその問題をシェアします。</li>
        <li>CouchDb (文書保存と分析) + ElasticSearch (検索) + HDFS (blob保存、アーカイブ化) + Hadoop (分析と変更)。このソリューションは、Hadoop及び読み込みと書き込みの重い作業負荷に対する適合性に伴う多くの問題を呈します。</li>
      </ul>
      <p>自己回復かつ自己設定データ保存をサポートしつつ、こうした5つの要件にCrate がいかに対処するのかを見ていきましょう。</p>
      <ol>
        <li><strong>文書保存</strong><br />
          CrateはLuceneとElasticSearchの機能性で構築により、文書データを保存します。Crateは、次期レベルへの時宜を得た回復をもたらすメジャーバージョンアップグレードに対してダンプ/回復の機能性を加えています。</li>
        <li><strong>Blob保存</strong><br />
          Blob保存はCrate blob展開を利用し、透明性のある形で行われ、配布、複製及び割り当てに対するelasticsearchクラスターの意味論において構築されています。それはユーザスペースでのファイルシステム上で直接、シンプルにblobを保存します。</li>
        <li><strong>文書検索</strong><br />
Crateは検索にElasticsearchを利用します。それはスピードを求める場合に、かなり最善なものです。</li>
        <li><strong>SQLを利用するリアルタイムデータ分析</strong><br />
          Crateは分散クエリアナライザー、プランナー及び実行エンジンを通してSQLを利用するリアルタイムデータ分析を可能にします。これは「..を有する&#8230;別のグループ」と「～別に順序づける」機能性のようなSQLを提供する上級のグループとソーティングの機能性を加えます。マップ/削減、しかもリアルタイムでを考えてみてください。</li>
        <li><strong>全ての再度行わずに変更を行う</strong><br />
          全体のリレーショナルデータベースを再構築することが1つのSQLスクリプトの利用により可能であった古き良き時代をご存知ですか？Crateは、1つ以上のインデックスに直接クエリの結果を出す能力を借りることによりその機能性を実行します。この要件は、でーたが極めて非正規化のフォーマットで保存されることが多い文書ベースのデータベース上でさらに著しいものとなります。</li>
      </ol>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>要件</h2>
      <p>Linux、Mac OS XまたはWindows<br />
        Java 7<br />
        Python<br />
        (コマンドラインクラインアント用)</p>
      <h2>クライアントとツール</h2>
      <p>Crate Dataは内蔵管理インターフェース付きで出荷されます。コマンドラインのインターフェース(Crate Shell – CraSh)でインタラクティブなクエリが可能になります。CrateのPythonクライアントは最先端であり、SQLAlchemy統合を特徴とします。</p>
      <p><a class="btn btn-primary" href="{% url '/docs.html' %}">Crate をダウンロードする</a></p>
    </div>
  </div>
</div>
{% endblock %}
