title: Crate and Docker: Scale your database like your application
description: In 20 minutes use Docker to build and scale a Crate database cluster.
heroImg: wrapper-hero-frontpage
og_image: https://cdn.crate.io./media/1503/crate-logo-165.png


{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>Crate and Docker:<br />Scale your database like your application<br /></h1>
    <p class="lead">Build and scale any application powered by a backend that changes with it</p>
    <a href="{% url '/docs/docker.html' %}" class="btn btn-fp-white">Get your cluster up<br>and running now!</a>
  </div>
</div>
{% endblock %}


{% block body %}
<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive thumbnail" src="{% media '/media/1503/crate-logo-165.png' %}" />
    </div>
    <div class="col-sm-9">
      <p>Crate is a distributed database for Docker that allows you to create a flexible and scalable backend suited to a wide variety of purposes. By deploying and managing your Crate cluster using Docker, you benefit from scalable capacity and resilience, no matter how complex or large your application becomes.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive thumbnail" src="{% media '/media/1503/docker-logo-187.png' %}" />
    </div>
    <div class="col-sm-9"><p>Docker is an open platform for developers and sysadmins to build, ship, and run distributed applications. Containerized applications help to isolate dependencies, standardize the operating environment, and foster portability.</p></div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Portability</h2>
      <p class="">Data can be moved anywhere, no matter the dependencies or platform.</p>
    </div>
    <div class="col-sm-4">
      <h2>Get Started Quickly</h2>
      <p class="">Crate has an official Docker image available along with over 13,000 other pre-built apps.  Start developing with a Crate database today.</p>
    </div>
    <div class="col-sm-4">
      <h2>Perfect Companions</h2>
      <p class="">Crate clusters grow seamlessly with your application. Quickly and easily add capacity as your customers increase.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    <br />
    <p class="text-center">
      <a href="{% url '/docs/docker.html' %}" class="btn btn-primary btn-lg">Get Started with Crate and Docker</a>
    </p>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
    <div class="row">
    <div class="col-sm-4">
      <h2>Docker Machine</h2>
      <p class="">Machine is a Crate-compatible tool for easily provisioning a Docker host in numerous environments.  With one command docker-machine will create new a host, install Docker and then enable you to use your local client to manage the instance.</p>
      <p><a href="{% url '/docker/machine.html' %}">Learn about Docker Machine</a></p>
    </div>
    <div class="col-sm-4">
      <h2>Docker Swarm</h2>
      <p class="">Swarm is a tool for native clustering of Docker containers. It can be used to create and scale a Crate cluster across multiple hosts. It supports several different platforms and integrates with  other third party tools like Mesosphere and RancherOS.</p>
      <p><a href="{% url '/docker/swarm.html' %}">Using Docker Swarm</a></p>
    </div>
    <div class="col-sm-4">
      <h2>Docker Compose</h2>
      <p class="">Compose is a Docker orchestration tool for defining and spinning up multiple container applications. Because Compose provides an easy way to define volumes, links, and configurations in a single file it is a great fit for deploying a Crate cluster.</p>
      <p><a href="http://docs.docker.com/compose/">Docker Compose QuickStart</a></p>
    </div>
  </div>
  
</div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-primary">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <h2 class="text-center">Get your cluster up and running in no time!</h2>
    <p class="text-center">
      <a href="{% url '/docs/docker.html' %}" class="btn btn-black btn-lg">Start your cluster now!</a>
    </p>
    <p class="text-center">
      <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
    </p>
    </div>
  </div>
</div>
</div>


{% endblock %}
