title: Crate and Docker: Scale your database like your application
description: Using Docker Machine you can provision a Crate cluster in the cloud or locally in minutes.
heroImg: wrapper-hero-frontpage
og_image: https://cdn.crate.io./media/1503/crate-logo-165.png


{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>Docker Machine:<br />Simplify Provisioning</h1>
    <p class="lead">Use Docker Machine to create a repeatable process for both local development and production deployment to the cloud</p>
    <a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}" class="btn btn-fp-white">Try Docker Machine<br>with Swarm!</a>
  </div>
</div>
{% endblock %}


{% block body %}

<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>What is it?</h3>
      <p>Docker Machine is a Docker project that moved into beta at the end of <a href="https://blog.docker.com/2015/02/announcing-docker-machine-beta/">February 2015</a>.  It is a tool for easily provisioning a Docker host in numerous environments.  The command will create new a host, install Docker and then enable you to use your local client to manage the instance.  
    </div>
    <div class="col-sm-4">
      <h3>Why use it?</h3>
      <p>Using Docker Machine will reduce the time is takes to provision new Docker hosts and make the process repeatable and easier to automate.  Also it is commonly used with Docker Swarm and Docker Compose to simplify the entire process of provisioning an environment, creating a cluster and deploying complex multi-container applications.</p>
    </div>
    <div class="col-sm-4">
      <h3>How does Crate use it?</h3>
      <p>Docker Machine makes it easier and faster to deploy a new Crate cluster, we no longer need to manually prepare each node or worry about each environment's different arguments and configurations. We were also able to combine the benefits of <a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}">Machine with Swarm</a> to create an easily repeatable Crate cluster.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Get Started with Docker Machine</h2>
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#aws" aria-controls="aws" role="tab" data-toggle="tab">Amazon Web Services</a></li>
          <li role="presentation" class=""><a href="#gce" aria-controls="gce" role="tab" data-toggle="tab">Google Compute Engine</a></li>
          <li role="presentation" class=""><a href="#azure" aria-controls="azure" role="tab" data-toggle="tab">Microsoft Azure</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="aws">
            <h3>Amazon EC2</h3>
            <h4>Setup</h4>
            <p>To use Docker Machine with Amazon Web Services you will need four things, an Access Key ID, Secret Access Key,  a VPC ID, and to have Docker Machine installed on your local machine.</p>
            <ul>
              <li><em>AWS Access Key ID</em> and <em>AWS Secret Access Key:</em> In the IAM console under Users > _username_ > User Actions > Manage Access Keys > Create Access Key.  This will create both a Access Key ID and a Secret Access Key. <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSGettingStartedGuide/AWSCredentials.html">Get help</a></li>
              <li><em>AWS VPC ID:</em> This will be listed under Account Attributes or use the EC2 DescribeAccountAttributes API or CLI with the default-vpc argument</li>
              <li><em>Docker Machine:</em> Download the latest binary from the github, <a href="https://github.com/docker/machine/releases">https://github.com/docker/machine/releases</a>. Rename the binary to docker-machine (optional) and add it into your system path.</li>
            </ul>
            
            <h4>Using Docker Machine to provision on AWS</h4>
            <p>Start the cluster</p>
            <pre><code>docker-machine create \
    --driver amazon \
    --amazonec2-access-key xxxx \
    --amazonec2-secret-key xxxx \
    --amazonec2-vpc-id xxxx \
    machine_name</code></pre>

            <h4>Amazon options</h4>
            <ul>
              <li><code>--amazonec2-access-key</code>: Your access key id for AWS</li>
              <li><code>--amazonec2-ami</code>: To use an AMI other than the default</li>
              <li><code>--amazonec2-instance-type</code>: Default is t2.micro</li>
              <li><code>--amazonec2-region</code>: Default is us-east-1</li>
              <li><code>--amazonec2-root-size</code> Default is 16 (in GB)</li>
              <li><code>--amazonec2-secret-key</code>: Your secret access key for the AWS.</li>
              <li><code>--amazonec2-security-group</code>: Default is docker-machine</li>
              <li><code>--amazonec2-session-token</code>: Your session token for AWS.</li>
              <li><code>--amazonec2-subnet-id</code>: AWS VPC subnet id</li>
              <li><code>--amazonec2-vpc-id</code>: Your VPC ID for launching the instance in.</li>
              <li><code>--amazonec2-zone</code>: Default is a</li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="azure">
            <h3>Microsoft Azure</h3>
            <h4>Setup</h4>
            <p>To use Docker Machine with Microsoft Azure you will need three things, a certificate, an Azure subscription ID and to have Docker Machine installed on your local machine.</p>
            <ul>
              <li><em>Azure Certificate:</em> If you already have a certificate generated upload it in the <a href="https://manage.windowsazure.com/" target="_blank">Azure Portal</a> using the upload button in the bottom right. To generate a certificate:<br />
              <pre><code>openssl req -x509 -nodes -days 365 -newkey rsa:1024 -keyout mycert.pem -out mycert.pem<br />openssl pkcs12 -export -out mycert.pfx -in mycert.pem -name "My Certificate"</code></pre></li>
              <li><em>Azure subscription ID:</em> Located on your Azure profile page on the right hand column in the <a href="https://manage.windowsazure.com/" target="_blank">Azure Portal</a></li>
              <li><em>Docker Machine:</em> Download the latest binary from the github, <a href="https://github.com/docker/machine/releases">https://github.com/docker/machine/releases</a>. Rename the binary to docker-machine (optional) and add it into your system path.</li>
            </ul>

            <h4>Using Docker Machine to provision on Azure</h4>
            <p>Start the cluster</p>
            <pre><code>docker-machine create \
    --driver azure \
    --azure-subscription-id xxxx \
    --azure-subscription-cert xxxx \
    machine_name</code></pre>

            <h4>Azure options</h4>
            <ul>
              <li><code>--azure-image</code>: Default is Ubuntu 14.04 LTS x64</li>
              <li><code>--azure-location</code>: Default is West US</li>
              <li><code>--azure-size</code>: Default is small</li>
              <li><code>--azure-subscription-cert</code>: Your self generated cert for Azure</li>
              <li><code>--azure-subscription-id</code>: Your Azure subscription ID located in your profile</li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="gce">
            <h3>Google Compute Engine</h3>
            <h4>Setup</h4>
            <p>To use Docker Machine with Google Compute Engine you will need three things, a project name, the ability to oAuth, and to have Docker Machine installed on your local machine.</p>
            <ul>
              <li><em>Project Name:</em> Your Google project names will be listed at <a href="https://cloud.google.com/compute/docs/projects">https://cloud.google.com/compute/docs/projects</a></li>
              <li><em>oAuth:</em> The Google driver requires oAuth, so the computer you are using to run Docker Machine you will need to have access a browser and  you will need to login with your Google account</li>
              <li><em>Docker Machine:</em> Download the latest binary from the github, <a href="https://github.com/docker/machine/releases">https://github.com/docker/machine/releases</a>. Rename the binary to docker-machine (optional) and add it into your system path.</li>
            </ul>

            <h4>Using Docker Machine to provision on GCE</h4>
            <p>Start the cluster</p>
            <pre><code>docker-machine create \
    --driver google \
    --google-project xxxx \
    machine_name</code></pre>

            <h4>GCE options</h4>
            <ul>
              <li><code>--google-zone</code>: Default is us-central1-a</li>
              <li><code>--google-machine-type</code>: Default is f1-micro</li>
              <li><code>--google-project</code>: This is found in the <a href="https://cloud.google.com/compute/docs/projects">GCE</a> dashboard</li>
              <li><code>--google-disk-size</code>: Default is 10 (in GB)</li>
            </ul>
          </div>
        </div>
        </div>
    </div>
  </div>

  <div class="row">
    <h2>Next Steps: Installing Crate</h2>
    <p>Now that you've learned how easy it is to get started with Docker Machine, you have a few options for where to go next. You can:</p>

    <ul>
      <li><a href="{% url '/docs/docker.html' %}">Learn to install Crate using Docker.</a></li>
      <li><a href="{% url '/docker/swarm.html' %}">Learn more about using Machine with Docker Swarm to build a cluster.</a></li>
      <li><a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}">Learn to deploy a Crate cluster using Docker Machine and Swarm.</a></li>
    </ul>

  </div>
</div>

<p></p>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-primary">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <h2 class="text-center">Get a Docker Machine cluster up and running with Swarm!</h2>
    <p class="text-center">
      <a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}" class="btn btn-black btn-lg">Using Machine with Swarm</a>
    </p>
    <p class="text-center">
      <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us.</a>
    </p>
    </div>
  </div>
</div>
</div>


{% endblock %}
