title: Landing the US
link: https://crate.io/blog/landing-the-us/
author: Jodok
description: Crate is growing aggressively both in terms of downloads and enterprise traction. We've secured our first US-based enterprise customer, and we are building our HQ, marketing and commercial organization in Silicon Valley, while growing our European development and product teams. 
created: 2015/02/23 09:53:00
post_name: landing-the-us
status: publish
post_type: post
tags: usa, silicon valley, san francisco
category: news


![Christian and Jodok at Golden Gate](https://cdn.crate.io/media/1502/christian-jodok-golden-gate.jpg)


In October we opened our US Office in San Francisco. Since that, Crate is growing aggressively both in terms of downloads and enterprise traction. We've secured our first US-based enterprise customer, and we are building our HQ, marketing and commercial organization in Silicon Valley, while growing our European development and product teams. 

Christian & Jodok

**[Learn more about Crate]({% url '/overview.html' %})**

**[Installing Crate in Docker containers]({% url '/docs/docker.html' %})**

**[Get &amp; Install Crate]({% url '/docs.html' %})**
