title: Building Ruby Applications with Crate
description:
heroImg: wrapper-hero-frontpage

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>Building Ruby Applications with Crate</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid ergo attinet gloriose loqui, nisi constanter loquare? Quia dolori non voluptas contraria est, sed doloris privatio.</p>
      </div>
      <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid ergo attinet gloriose loqui, nisi constanter loquare? Quia dolori non voluptas contraria est, sed doloris privatio.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Sub Heading</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/cloud_everywhere.png' %}" />
      </div>
      <div class="col-sm-8">
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Sub Heading</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/cloud_everywhere.png' %}" />
      </div>
      <div class="col-sm-8">
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Get your cluster up and running in no time!</h2>
        <p class="text-center">
          <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Feature Headings</h2>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center">
          <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
