{% extends "base.html" %}

{% block navbar2 %}
<div class="wrapper wrapper-plain">
  <nav class="breadcrumb-container">
    <div class="container">
      <ol class="breadcrumb">
        <li class=""><a href="{% url '/use-cases/' %}">Use Cases</a> > </li>
        <li class="active"><a href="{% url '/use-cases/case-studies.html' %}">Case Studies</a></li>
      </ol>
    </div>
  </nav>
</div>
{% endblock %}

{% block header %}
<div class="wrapper wrapper-hero wrapper-cs" style="background-image: url('{% media hero_image %}');">
  <div class="container">
    <h1 style="color: {{title_color}}">{{ title }}</h1>
  </div>
</div>
{% endblock %}

{% block body %}

{% block top_content %}
<div class="wrapper wrapper-border wrapper-cs-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><img src="{% media image %}" width="{{image_width}}" /></p>
        <table width="100%" class="table-noborder">
          <tr>
            <th>Company</th>
            <td><a href="{{casestudy_link}}" target="_blank">{{casestudy_company}}</a></td>
          </tr>
          <tr>
            <th>Industry</th>
            <td>{{casestudy_industry}}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>{{casestudy_location}}</td>
          </tr>
          <tr>
            <th>Use Case</th>
            <td>{{casestudy_usecase}}</td>
          </tr>
        </table>


      </div>
      <div class="col-sm-6">
        <div class="wrapper-highlight">
          <p><strong>Highlights</strong></p>
          <ul class="highlight">
            <li>{{highlight_1}}</li>
            <li>{{highlight_2}}</li>
            <li>{{highlight_3}}</li>
            <li>{{highlight_4}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top:32px;">
      <div class="col-md-4">
        <p><strong>Details</strong></p>
      </div>
      <div class="col-md-8">
        <div>
            {{ body }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container" style="margin-top:-64px; padding-bottom:32px;">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <div class="socialmedia">
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-dnt="true" data-related="CrateIO" data-size="large">Tweet</a>
          <a href="https://twitter.com/CrateIO" class="twitter-follow-button" data-show-count="false" data-dnt="true" data-size="large">Follow @CrateIO</a>
        </div>
        <div class="socialmedia">
          <div class="fb-share-button" data-href="https://www.facebook.com/cratedata" data-layout="button"></div>
          <div class="fb-follow" data-href="https://www.facebook.com/cratedata" data-colorscheme="light" data-layout="button" data-show-faces="false"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container" style="padding:16px 16px;">
    <div class="row">
      <div class="col-md-4">
        <p><strong>About {{about_name}}</strong></p>
      </div>
      <div class="col-md-8">
        <p><img src="{% media image %}" width="{{image_width}}" /></p>

            {{ about|safe }}

      </div>
    </div>
  </div>
</div>


{% endblock %}

<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Crate is easy to install and integrate</h2>
        <p><a class="btn btn-fp-white" href="{% url '/docs/index.html' %}">Start using Crate with your application now!</a></p>
        <p>Any questions? Feel free to <a href="{% url '/about/contact.html' %}">get in touch with us</a>!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
  ga('send', 'event', 'case_study', '{{ post_name }}', location.pathname, 1);
});
</script>
{% endblock %}
