title: Pricing
description: We currently offer a simple Startup support option for productive deployments. The concept is that Crate support is priced per Cluster. Use any number of nodes that makes sense for your use-case, usually more is better.

{% extends "base.html" %}

{% block navbar2 %}
<div class="wrapper wrapper-plain">
    <nav class="breadcrumb-container">
      <div class="container">
	<ol class="breadcrumb">
	  <li class="active">Enterprise</li>
	</ol>
      </div>
    </nav>
</div>
{% endblock %}

{% block header %}
<div class="wrapper wrapper-border wrapper-blogpost-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h1>Pricing</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <p class="lead">Crate.IO is OPEN SOURCE and can be used in the Community Edition (on Github) for free, even if you use it commercially. We’ll support you <a href="https://github.com/crate" target="_blank">here</a>. Check out the Apache 2.0 <a title="License" href="https://crate.io/about/legal/license/">license</a>.</p>
      <p>We currently offer a simple Startup support option for productive deployments. The concept is that Crate support is priced <strong>per Cluster</strong>. Use any number of nodes that makes sense for your use-case, usually more is better.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>Startup License</h2>
      </div>
      <ul>
        <li>$ 12.000 / € 12.000 per year</li>
        <li>Run your cluster with unlimited nodes</li>
        <li>Onboarding session (video conf) with one of our core dev´s &amp; architects to discuss your project, data structure, migration, hardware sizing etc.</li>
        <li>Cluster Notification Service (SMS and email)</li>
        <li>Support via dedicated <a href="https://www.hipchat.com/" target="_blank">Hipchat </a>Channel</li>
        <li>Support Email – guaranteed email ticket support (max 48 hours)</li>
        <li>Support Phone – scheduled phone call (one per quarter)</li>
        <li>Cluster Notification Service (SMS and email)</li>
      </ul>
      <h3>Qualification</h3>
      <ul>
        <li>Up to $5M USD in annual revenue</li>
        <li>Up to $10M USD in funding</li>
        <li>Please <a title="Contact Us" href="{% url '/about/contact.html' %}">contact us</a> to enroll / check your qualification</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>Business &amp; Enterprise License</h2>
      </div>
      <p>Use our experience in managing large datasets including regarding SLAs, support, features, integration and more. We’ll help you build and operate a super-fast and super-reliable big data cluster with 24/7 support.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p><b>Enterprise License will feature on top of the Open Source product:</b></p>
      <ul>
        <li>Commercial License</li>
        <li>Commercial SLA´s</li>
        <li>Full blown “point in time recovery”</li>
        <li>Encryption</li>
        <li>Cross Data Center Replication</li>
        <li>Multi-Tenancy</li>
        <li>Availability of initial features in Q1.2015</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <p><b>Enterprise License Service included:</b></p>
      <p>Above STARTUP LICENSE plus:</p>
      <ul>
        <li>Phone 24×7 on tier 1 issues</li>
        <li>Email 24×7 on tier 1 issues</li>
        <li>Unlimited incidents</li>
        <li>Emergency patches</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr />
      <h4>Please get in contact with us, we are eager to talk to you.</h4>
      <p>Get the full set of features of the Enterprise License with business and enterprise level support. <a title="Contact Us" href="{% url '/about/contact.html' %}">Contact</a> us for pricing.</p>
      <hr />
    </div>
  </div>

</div>
</div>
{% endblock %}
