<h3>More Cloud Templates</h3>
<ul>
  <li class="{% if_current_page '/docs/cloud/aws.html' 'hide' '' %}"><a href="{% url '/docs/cloud/aws.html' %}">Crate &amp; Amazon Webservices</a></li>
  <li class="{% if_current_page '/docs/cloud/gce.html' 'hide' '' %}"><a href="{% url '/docs/cloud/gce.html' %}">Crate &amp; Google Compute Engine</a></li>
  <li class="{% if_current_page '/docs/cloud/softlayer.html' 'hide' '' %}"><a href="{% url '/docs/cloud/softlayer.html' %}">Crate &amp; IBM Softlayer</a></li>
</ul>
