<h3>More Cloud Templates</h3>
<ul>
  <li class="{% if_current_page '/install/cloud/aws.html' 'hide' '' %}"><a href="{% url '/install/cloud/aws.html' %}">Crate &amp; Amazon Web Services</a></li>
  <li class="{% if_current_page '/install/cloud/azure.html' 'hide' '' %}"><a href="{% url '/install/cloud/azure.html' %}">Crate &amp; Microsoft Azure</a></li>
  <li class="{% if_current_page '/install/cloud/gce.html' 'hide' '' %}"><a href="{% url '/install/cloud/gce.html' %}">Crate &amp; Google Compute Engine</a></li>
  <li class="{% if_current_page '/install/cloud/softlayer.html' 'hide' '' %}"><a href="{% url '/install/cloud/softlayer.html' %}">Crate &amp; IBM Softlayer</a></li>
</ul>
