  <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-xs-4 col-md-2">
	    <h4 class="c-footer-heading">Company</h4>
            <ul class="list-unstyled">
              <li><a href="{% url '/about/index.html' %}" title="About">About</a></li>
              <li><a href="{% url '/about/team.html' %}" title="Team">Team</a></li>
              <li><a href="{% url '/jobs.html' %}" title="Jobs">Jobs</a></li>
              <li><a href="{% url '/blog.html' %}" title="Blog">Blog</a></li>
              <li><a href="{% url '/events.html' %}" title="Events">Events</a></li>
              <li><a href="{% url '/about/contact.html' %}" title="Contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-4 col-md-2">
	    <h4 class="c-footer-heading">Open Source</h4>
            <ul class="list-unstyled">
              <li><a href="{% url '/community.html' %}" title="Community">Community</a></li>
              <li><a href="{% url '/community/contribute.html' %}" title="Contribute">Contribute</a></li>
              <li><a target="_blank" href="https://github.com/crate" title="Github">Github</a></li>
            </ul>
	    <h4 class="c-footer-heading">Enterprise</h4>
            <ul class="list-unstyled">
              <li><a href="{% url '/download/pricing.html' %}" title="Pricing">Pricing</a></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-4 col-md-2 col-lg-4">
	    <h4 class="c-footer-heading">Legal</h4>
            <ul class="list-unstyled">
              <li><a href="{% url '/legal/trademarks.html' %}" title="Trademark">Trademark Guidelines</a></li>
              <li><a href="{% url '/legal/privacy.html' %}" title="Privacy Policy">Privacy Policy</a></li>
              <li><a href="{% url '/legal/terms-of-service.html' %}" title="Terms of Service">Terms of Service</a></li>
              <li><a href="{% url '/legal/license.html' %}" title="License">License</a></li>
              <li><a href="{% url '/legal/notice.html' %}" title="Notice">Notice</a></li>
              <li><a href="{% url '/legal/imprint.html' %}" title="Imprint">Imprint</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
	    <h4 class="c-footer-heading">Connect</h4>
            <table style="width:100%;">
              <tr>
                <td><a rel="nofollow" href="https://twitter.com/CrateIO"><i class="fa fa-twitter"></i> Twitter</a></td>
                <td><a rel="nofollow" href="https://fb.me/cratedata"><i class="fa fa-facebook"></i> Facebook</a></td>
                <td><a rel="nofollow" href="https://plus.google.com/105774977111118486356/"><i class="fa fa-google"></i> Google+</a></td>
              </tr>
              <tr>
                <td><a rel="nofollow" href="https://www.linkedin.com/company/crate-technology-gmbh"><i class="fa fa-linkedin"></i> LinkedIn</a></td>
                <td><a rel="nofollow" href="https://www.youtube.com/user/CrateIO"><i class="fa fa-youtube"></i> YouTube</a></td>
                <td></td>
              </tr>
            </table>
	    <h4 class="c-footer-heading">Newsletter</h4>
            {% include "mailchimp-simple.html" %}
          </div>
        </div>
      </div>
      <div class="container">
        <p class="copyright small text-muted">&copy; 2013-{% now "Y" %} CRATE Technology GmbH</p>
      </div>
  </div>
</footer>
