<footer class="footer navbar-default">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Company</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a href="{% url '/about/index.html' %}" title="">About</a></li>
                  <li><a href="{% url '/about/team.html' %}" title="">Team</a></li>
                  <li><a href="{% url '/jobs.html' %}" title="">Jobs</a></li>
                  <li><a href="{% url '/blog.html' %}" title="">News</a></li>
                  <li><a href="{% url '/download/pricing.html' %}" title="">Pricing</a></li>
                  <li><a href="{% url '/about/contact.html' %}" title="">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Community</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a href="{% url '/community.html' %}" title="">Community</a></li>
                  <li><a href="{% url '/events.html' %}" title="">Events</a></li>
                  <li><a href="{% url '/community/contribute.html' %}" title="">Contribute</a></li>
                  <li><a target="_blank" href="https://github.com/crate" title="">Github</a></li>
                  <li><a target="_blank" href="http://stackoverflow.com/questions/tagged/crate" title="">Stackoverflow</a></li>
                  <li><a target="_blank" href="http://webchat.freenode.net/?channels=crate" title="">IRC Channel</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Languages</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a href="{% url '/zh-cn/overview.html' %}" title="Chinese">Chinese</a></li>
                  <li><a href="{% url '/fr/overview.html' %}" title="French">French</a></li>
                  <li><a href="{% url '/de/overview.html' %}" title="German">German</a></li>
                  <li><a href="{% url '/it/overview.html' %}" title="Italian">Italian</a></li>
                  <li><a href="{% url '/ja/overview.html' %}" title="Japanese">Japanese</a></li>
                  <li><a href="{% url '/ru/overview.html' %}" title="Russian">Russian</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Legal</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a href="{% url '/legal/trademarks.html' %}" title="">Trademark Guidelines</a></li>
                  <li><a href="{% url '/legal/privacy.html' %}" title="">Privacy Policy</a></li>
                  <li><a href="{% url '/legal/terms-of-service.html' %}" title="">Terms of Service</a></li>
                  <li><a href="{% url '/legal/license.html' %}" title="">License</a></li>
                  <li><a href="{% url '/legal/notice.html' %}" title="">Notice</a></li>
                  <li><a href="{% url '/legal/imprint.html' %}" title="">Imprint</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</footer>
