    <footer class="footer navbar-default">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Company</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class="" href="{% url '/about/index.html' %}" title="">About</a></li>
                  <li><a class="" href="{% url '/about/team.html' %}" title="">Team</a></li>
                  <li><a class="" href="{% url '/jobs.html' %}" title="">Jobs</a></li>
                  <li><a class="" href="{% url '/blog.html' %}" title="">News</a></li>
                  <li><a class="" href="{% url '/download/pricing.html' %}" title="">Pricing</a></li>
                  <li><a class="" href="{% url '/about/contact.html' %}" title="">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Community</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class="" href="{% url '/community.html' %}" title="">Community</a></li>
                  <li><a class="" href="{% url '/events.html' %}" title="">Events</a></li>
                  <li><a class="" href="{% url '/community/contribute.html' %}" title="">Contribute</a></li>
                  <li><a target="_blank" class="" href="https://github.com/crate" title="">Github</a></li>
                  <li><a target="_blank" class="" href="http://stackoverflow.com/questions/tagged/crate" title="">Stackoverflow</a></li>
                  <li><a target="_blank" class="" href="http://webchat.freenode.net/?channels=crate" title="">IRC Channel</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Languages</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class="" href="{% url '/overview/zh-cn.html' %}" title="">Chinese</a></li>
                  <li><a class="" href="{% url '/overview/fr.html' %}" title="">French</a></li>
                  <li><a class="" href="{% url '/overview/de.html' %}" title="">German</a></li>
                  <li><a class="" href="{% url '/overview/it.html' %}" title="">Italian</a></li>
                  <li><a class="" href="{% url '/overview/jp.html' %}" title="">Japanese</a></li>
                  <li><a class="" href="{% url '/overview/ru.html' %}" title="">Russian</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Legal</div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class="" href="{% url '/legal/trademarks.html' %}" title="">Trademark Guidelines</a></li>
                  <li><a class="" href="{% url '/legal/privacy.html' %}" title="">Privacy Policy</a></li>
                  <li><a class="" href="{% url '/legal/terms-of-service.html' %}" title="">Terms of Service</a></li>
                  <li><a class="" href="{% url '/legal/license.html' %}" title="">License</a></li>
                  <li><a class="" href="{% url '/legal/notice.html' %}" title="">Notice</a></li>
                  <li><a class="" href="{% url '/legal/imprint.html' %}" title="">Imprint</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
