<!-- Google CSE Search Box Begins  -->
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at https://www.google.com/cse/docs/tos.html -->
<form class="form-horizontal" action="https://www.google.com/cse">
  <input type="hidden" name="cx" value="009648942934194962260:bxkpxryedis" />
  <input type="hidden" name="ie" value="UTF-8" />
  <div class="col-sm-8">
    <input class="form-control" type="text" name="q" />
  </div>
  <div class="col-sm-4">
    <input class="form-control btn btn-primary" type="submit" name="sa" value="Search" />
  </div>
</form>
<!-- Google CSE Search Box Ends -->
