{% extends "base.html" %}

{% block navbar2 %}
<div class="wrapper wrapper-plain">
    <nav class="breadcrumb-container">
      <div class="container">
	<ol class="breadcrumb">
	  <li class="active"><a href="{% url '/jobs.html' %}">Jobs at Crate.IO</a></li>
	</ol>
      </div>
    </nav>
</div>
{% endblock %}

{% block header %}
<div class="wrapper wrapper-border wrapper-blogpost-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="job-description">
        {% filter markdown %}
        {% block description %}
        {% endblock %}
        {% endfilter %}
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Job Profile</h3>
      <table class="table">
          <tr>
            <td>Team or role:</td>
            <td>{{ role }}</td>
          </tr>
          <tr>
            <td>Job type:</td>
            <td>{{ type }}</td>
          </tr>
          <tr>
            <td>Last updated:</td>
            <td>{{ updated }}</td>
          </tr>
          <tr>
            <td>Job location(s):</td>
            <td>{{ location }}</td>
          </tr>
      </table>
      <p><a class="btn btn-success" href="mailto:jobs@crate.io?subject={{ title|escapejs }}">Apply now!</a></p>
    </div>
  </div>
</div>
</div>
{% endblock %}
