{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="wrapper-hero-overview">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 id="{{ title|slugify }}">{{ title }}</h1>
	<p class="lead">{{ description }}</p>
	<p><a class="btn btn-fp-white" href="{{ CURRENT_PAGE.final_url }}#start">Start using Crate with {{ name }} now!</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}

{% block top_content %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Crate &amp; {{ name }}</h2>
      </div>
      <div class="col-sm-6">
        <p class="lead">Crate is a distributed database that allows you to create a flexible and scalable backend suited to a wide variety of purposes.</p>
        <p>Here you can find all the tools and resources you need to develop scalable {{ name }} applications with a Crate backend.</p>
        <p>Crate is 100% open source.</p>
      </div>
      <div class="col-sm-6">
        <p class="text-center"><img class="max-160" src="{% media image %}" /></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/cloud_everywhere.png' %}" width="110" />
        <h3>Powerful</h3>
        <p>Crate is a powerful, complete backend solution for tabular data, semi-structured records, and binary objects (BLOBs).</p>
      </div>
      <div class="col-sm-4 col-xs-6">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_analytics.png' %}" width="110" />
        <h3>Sub-second, super-fast.</h3>
        <p>Crate is highly available and offers massively parallel access in real-time, enabling sub-second responses on billions of records.</p>
      </div>
      <div class="col-sm-4 col-xs-6">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/cloud_scale.png' %}" width="110" />
        <h3>Easy to scale. Simple to use.</h3>
        <p>Adding nodes on commodity hardware or in the cloud is as simple as a single command in your terminal.</p>
      </div>
    </div>
  </div>
</div>

{% if posts|filter_by_tag:slug|length %}
<div class="wrapper wrapper-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <div class="dynamic-content-well">
          <h3>Recent Posts</h3>
          <table class="table">
            {% for post in posts|filter_by_tag:slug|slice:":5" %}
            <tr>
              <td><i class="fa fa-book"></i> <a href="{{ post.url }}" title="{{ post.title|escape }}">{{ post.title }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <p>Read more on our <a href="{% url '/blog.html' %}">blog</a>!</p>
      </div>
      <div class="col-sm-6 col-xs-6">
        <div class="dynamic-content-well">
          {% if events|filter_by_tag:slug|length %}
          <h3>Events</h3>
          <table class="table">
            {% for post in events|filter_by_tag:slug|slice:":5" %}
            <tr>
              <td><i class="fa fa-calendar"></i> <a href="{{ post.url }}" title="{{ post.title|escape }}">{{ post.title }}</a></td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </div>
        <p>Meet us at other <a href="{% url '/events.html' %}">upcoming events</a>!</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if testimonial_quote %}
<div class="wrapper wrapper-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-center">“{{ testimonial_quote }}”</p>
        <p class="text-center"><i class="fa fa-large fa-user"></i> {{ testimonial_name }}<br />{{ testimonial_company }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<a id="start"></a>
{% block content %}
<!-- CONTENT -->
{% endblock %}

<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Crate is easy to install and integrate</h2>
        <p><a class="btn btn-fp-white" href="{% url '/docs.html' %}">Start using Crate with your application now!</a></p>
        <p>Any questions? Feel free to <a href="{% url '/about/contact.html' %}">get in touch with us</a>!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
