{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero wrapper-bg-primary" id="landing-page-{{ slug }}">
  <div class="container">
    <h1 id="{{ title|slugify }}">{{ title }}</h1>
  </div>
</div>
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
	<p class="lead">{{ description }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Sub Heading</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/cloud_everywhere.png' %}" />
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-6">
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
	<h3>What is Crate?</h3>
	<p>THIS TEXT NEEDS TO BE IMPROVED AND SHORTENED! --- Crate works seamlessly with {{ slug|title }}. Crate is a shared-nothing,
        fully searchable, document-oriented cluster data store. It is also 100%
        open source. We built it so developers with a data intensive back-end
        won’t need to “glue” several technologies together to store documents,
        blobs and support real-time search. We also wanted to help developers
        avoid the manual work associated with tuning, sharding, replication and
        other operations required to keep a large de-normalized data store in
        good shape. We wanted a simple, failure-tolerant and massively scalable
        data store anyone can use, on a single machine, many machines or on the
        cloud.</p>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border {% if testimonial_quote %}wrapper-border-bottom{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
	<p class="text-center"><img class="max-160" src="{% media image %}" /></p>
      </div>
      <div class="col-sm-6">
	<div class="dynamic-content-well">
	  <h3>Recent {{ slug|title }} News</h3>
	  <table class="table">
	  {% for post in posts|filter_by_tag:slug|slice:":5" %}
            <tr>
	      <td><i class="fa fa-book"></i> <a href="{{ post.url }}" title="{{ post.title|escape }}">{{ post.title|title }}</a></td>
            </tr>
          {% endfor %}
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>

{% if testimonial_quote %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
	<p class="lead text-center">“{{ testimonial_quote }}”</p>
	<p class="text-center"><i class="fa fa-large fa-user"></i> {{ testimonial_name }}<br />{{ testimonial_company }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">CTA Headline</h2>
	<p class="lead">Call to action!</p>
        <p>Any questions? <a href="{% url '/about/contact.html' %}">Feel free to get in touch with us</a></p>
      </div>
    </div>
  </div>
</div>

{% block content %}
<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid ergo attinet gloriose loqui, nisi constanter loquare? Quia dolori non voluptas contraria est, sed doloris privatio.</p>
      </div>
      <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid ergo attinet gloriose loqui, nisi constanter loquare? Quia dolori non voluptas contraria est, sed doloris privatio.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center">
          <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

