title: The Distributed Database for Docker
description: 
heroImg: wrapper-hero-frontpage


{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>The Distributed Database for Docker</h1>
    <p class="lead">Crate is a distributed database. Simply install a Crate cluster directly on your favorite cloud provider and make the unwieldy centralized database a thing of the past.</p>
  </div>
</div>
{% endblock %}


{% block body %}
<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p class="lead">No matter which cloud provider you use: <a href="{% url '/docs/cloud/gce.html' %}">Google Cloud Platform</a>, <a href="{% url '/docs/cloud/aws.html' %}">Amazon Web Services</a>, <a href="{% url '/docs/cloud/softlayer.html' %}">IBM Softlayer</a>, or <a href="{% url '/azure/index.html' %}">Microsoft Azure</a>, Crate is the perfect fit for a highly scalable, distributed data store. Crate enables you to focus on developing your product and worry less about maintaining your database cluster.</p>
      <p><a href="{% url '/docs/cloud.html' %}">Learn how to install Crate on your favorite cloud provider &raquo;</a></p>
    </div>
    <div class="col-sm-6">
      <table id="cloudLogos">
        <tr>
          <td colspan="2"><img class="img-responsive thumbnail" src="{% media '/media/1503/crate-logo-165.png' %}" width="165" /></td>
        </tr>
        <tr>
          <td><a href="{% url '/docs/cloud/aws.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/amazon-logo-182.png' %}" width="195" /></a></td>
          <td><a href="{% url '/docs/cloud/gce.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/google-logo-210.png' %}" width="196" /></a></td>
        </tr>
        <tr>
          <td><a href="{% url '/azure/index.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/microsoft-logo-210.png' %}" width="195"/></a></td>
          <td><a href="{% url '/docs/cloud/softlayer.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/softlayer-logo-200.png' %}" width="196"/></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% media '/media/1503/cloud_everywhere.png' %}" width="227">
    </div>
    <div class="col-sm-8">
      <h2>Crate: Simple to set up, scale &amp; query</h2>
      <ul class="w-list-unstyled list-group">
        <li class="list-group-item bright">Ideal for use in containerized, platform-agnostic <strong><a href="{% url '/docker' %}">environments like Docker</a></strong></li>
        <li class="list-group-item bright">Optimized for <strong><a href="{% url '/docs/cloud.html' %}">all major cloud platforms</a></strong></li><li class="list-group-item bright">No more unwieldy big centralized databases – Crate runs <strong>on your application servers</strong></li>
        <li class="list-group-item bright">Crate uses the <strong>familiar SQL Syntax</strong></li>
        <li class="list-group-item bright"><strong><a href="{% url '/docs/cloud.html' %}">Get started now &raquo;</a></strong></li>
      </ul>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_admin.png' %}" width="227">
      </div>
      <div class="col-sm-8">
        <h2>Simple administration</h2>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright"><strong>Friendly Admin UI</strong> shows the status of your cluster at any time</li>
          <li class="list-group-item bright"><strong>SQL</strong> console included</li><li class="list-group-item bright"><strong>Auto scaling, self healing and re-balancing</strong>.&nbsp;Yes we automatically take care of failed nodes, but most of the time nodes don't fail, clusters get scaled up and down.</li>
          <li class="list-group-item bright"><strong><a href="{% url '/docs/cloud.html' %}">Get started now &raquo;</a></strong></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_scale.png' %}" width="205">
        </div>
        <div class="col-sm-8">
          <h2>Scale easily from millions to billions of records</h2>
          <ul class="w-list-unstyled list-group">
            <li class="list-group-item bright">Takes care of synchronization, sharding, scaling, and replication <strong>even for mammoth data sets</strong></li>
            <li class="list-group-item bright">A <strong>true shared nothing architecture</strong>, In Crate all nodes are equal</li>
            <li class="list-group-item bright">Queries are <strong>automatically parallelized</strong> across all nodes, resulting in sub-second queries on tabular data and semi-structured records</li>
            <li class="list-group-item bright">When running out of power, just add new nodes with <strong>a few command line inputs</strong>, Crate takes care of the rest.</li>
            <li class="list-group-item bright"><strong><a href="{% url '/docs/cloud.html' %}">Get started now &raquo;</a></strong></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="{% media '/media/1503/cloud_open-source.png' %}" width="205">
        </div>
        <div class="col-sm-8">
          <h2>Open source</h2>
          <ul class="w-list-unstyled list-group">
            <li class="list-group-item bright">Crate is <strong>Open Source</strong></li>
            <li class="list-group-item bright">Crate uses a variety of battle tested <strong>open source components</strong>: Presto, Elasticsearch, Lucene, Netty</li>
            <li class="list-group-item bright">We invest in and support Open Source <strong>communities.</strong></li>
	        <li class="list-group-item bright"><strong><a href="{% url '/docs/cloud.html' %}">Get started now &raquo;</a></strong></li>
          </ul>
        </div>
      </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p class="lead">Crate, a data store for data-intensive apps is persistent, horizontally scale-able and has been built to support these five requirements</p>
    </div>
    <div class="col-sm-8">
      <ul class="list-unstyled" id="cloudFeatures">
        <li>
          <div class="row">
            <div class="col-sm-2 clearfix">
              <img src="{% media '/media/1503/icon_document.png' %}" width="40">
            </div>
            <div class="col-sm-10">
              <h4>Storing Documents</h4>
              <p>Crate utilizes the indexing engine Lucene for storing documents.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-sm-2 clearfix">
              <img src="{% media '/media/1503/icon_blob.png' %}" width="40">
            </div>
            <div class="col-sm-10">
              <h4>Storing Blobs</h4>
              <p>Blob storage is done transparently, using the Crate blob implementation, which distributes and replicates blobs&nbsp; evenly across all nodes.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-sm-2 clearfix">
              <img src="{% media '/media/1503/icon_search.png' %}" width="40">
            </div>
            <div class="col-sm-10">
              <h4>Finding Documents</h4>
              <p>Crate uses Elasticsearch for fulltext search – that’s pretty much the best there is for speed.</p>
            </div>
          </div>
        </li>
        <li>
        <div class="row">
          <div class="col-sm-2 clearfix">
            <img src="{% media '/media/1503/icon_analytics.png' %}" width="40">
          </div>
          <div class="col-sm-10">
            <h4>Real time data analytics using SQL</h4>
            <p>Crate enables real time data analytics using SQL through the distributed query analyzer, planner and execution engine in real time.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-sm-2 clearfix">
            <img src="{% media '/media/1503/icon_restructure.png' %}" width="40">
          </div>
          <div class="col-sm-10">
            <h4>Making changes to the database without re-doing everything</h4>
            <p>Remember the good old days when restructuring an entire relational database was possible by using a single SQL script? Crate implements that functionality by borrowing the ability to put the result of a query directly into one or more indexes. This requirement becomes even more eminent on document based databases, where data is often stored in a highly denormalized format.</p>
          </div>
        </div>
      </li>
      <li class="list-group-item bright"><strong><a href="{% url '/docs/cloud.html' %}">Get started now &raquo;</a></strong></li>
    </ul>
  </div>
  </div>

</div>
</div>


{% endblock %}
