title: 概述
description: Crate.IO 是一种数据存储，拥有具有强大搜索功能（如库中所包含的Elasticsearch）的NoSQL文档数据库的益处，可以使用SQL访问。

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero" id="wrapper-hero-overview">
  <div class="container">
    <h1>Crate：易于扩展的实时SQL数据存储<br />可扩展、简单、快速。</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>Crate 是一种无共享、完全可搜索、以文档为导向的分类数据存储：针对数据密集型应用、物联网，或者实时分析的一种快速、强大、具有大规模扩展性的后端。它是100%开源的。</h2>
      <p><strong>Crate.IO 是一种数据存储，拥有具有强大搜索功能（如库中所包含的Elasticsearch）的NoSQL文档数据库的益处，可以使用SQL访问。</strong></p>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>强大和超级快速</h2>
      <p>Crate 是针对列表数据、半结构化记录，以及二进制对象（Blobs）的一种强大后端。它具有高度可用性并且提供实时大规模并行访问，能够对数十亿记录作出次秒级响应。</p>
      <h2>零管理</h2>
      <p>所有Crate.IO 节点都是相等的。在商用硬件或者云上添加节点就好比您的终端机上的单个命令行一样简单。Crate 群集是自动配置和自我修复的。</p>
      <h2>什么选择？</h2>
      <p>Crate Data是一种可扩展的实时解决方案，能够提供巨大的成本和效率优势。Crate 通过将关系型SQL（如，MySQL），NoSQL（如，MongoDB），和搜索（Lucene/ES）相结合而占据了一个独一无二的位置。</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive thumbnail" src="{% media '/media/1502/crate-architecture.png' %}" />
    </div>
    <div class="col-sm-6">

      <h3>实时，大规模并行 无分享架构</h3>
      <h3>快速，易于使用</h3>
      <p>使用SQL在次秒级响应时间内读写。</p>
      <h3>高可用性</h3>
      <p>Crate Clusters持久而有弹性。失效的节点会被删除，并添加新节点。</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>CRATE <strong>对比各种技术的大杂烩</strong></h2>
      <p>Crate.IO 是为了让拥有数据密集型后端的开发者不再需要将多项技术“粘合”在一起以存储文件、二进制大对象，以及支持实时搜索而创建的。我们还希望能够帮助开发者们避开保持非标准化大数据存储的良好状态所需的与调谐、分区、复制，以及其它操作相关的手动作业。我们想要的是一种简单、容错，以及大规模可扩展的数据存储，人人都可以在单部机器、多部机器，或者在云上使用。</p>
      <br /> 
      <p>针对数据密集型应用的数据存储必须能够持久、横向可扩展，并且支持以下五个要求：</p>
      <p>（1）存储文档，（2）二进制大对象，（3）再次找到它们（4）运行查询（分析）和（5）在需要时能够对数据结构进行简单的更改。</p>
      <br /> 
      <p>开发者们将多种技术结合在一起不能获得相同的结果吗？以下为一些例子：</p>
      <ul>
        <li>MongoDB + ElasticSearch + GridFS。GridFS 可以支持二进制大对象存储，ElasticSearch支持搜索，而MongoDB则会完成剩余的任务。但是，可能会很难对数据结构作出更改，并且，还可能会很难管理缩放和多节点环境。</li>
        <li>Riak + Solr + Rados。Rados 用于二进制大对象存储，Solr用于搜索，而Riak完成剩余任务。这与第一个选项非常相似，同时也会遇到同样的问题。</li>
        <li>CouchDb（文档存储和分析） + ElasticSearch（搜索）+ HDFS（二进制大对象存储，归档）+ Hadoop（分析和更改）。这种解决方案会显现许多关于Hadoop及其对繁重的读取工作负荷的适合性的问题。</li>
      </ul>
      <p>让我们来看看Crate Data是如何在支持自我修复和自动配置数据存储的同时应对这五个要求的。</p>
      <ol>
        <li><strong>存储文档</strong><br />
          Crate 通过内建Lucene 和 ElasticSearch功能存储文档。Crate会为重要版本升级添加清除/恢复功能，为下一个级别提供基于时间点的恢复。</li>
        <li><strong>存储二进制大对象</strong><br />
          二进制大对象存储是使用Crate二进制大对象工具在不被察觉的情况下完成的，这种工具是建立在用于分布、复制，以及分配的elasticsearch 集群语义的基础上的。它会简单地将二进制大对象直接存储在用户空间文件系统中。</li>
        <li><strong>查找文件</strong><br />
          Crate使用Elasticsearch进行搜索– 这几乎是最快速的搜索技术。</li>
        <li><strong>使用</strong><strong>SQL</strong><strong>的实时数据分析</strong><br />
          Crate使用SQL通过分布式查询分析程序、计划程序，以及执行引擎进行实时数据分析。这将添加先进的分组和排序功能，向SQL提供诸如“按拥有…的…分组”和“以…排序”的功能。想象一下映射/减少，但却是实时的。</li>
        <li><strong>不用重做一切便可进行更改</strong></li>
      </ol>
      <p>还记得过去可以通过使用单个SQL脚本重组整个关系型数据库的美好时光吗？Crate通过借用将查询结果直接放入一个或多个索引中的能力实现了这种功能。这种要求对于基于文档的数据库来说甚至更加显著。在这种数据库中，数据常常是以一种高度非标准化的格式存储的。</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>要求</h2>
      <p>Linux，Mac OS X或者Windows<br />
        Java 7<br />
        Python<br />
        （针对命令行客户端）</p>
      <h2>客户端和工具</h2>
      <p>Crate 产品中包含一个内建管理界面。使用命令行界面（Crate Shell &#8211;  CraSh ）可以进行互动式查询。Crate的Python客户端是最先进的，它整合了SQLAlchemy。</p>
      <p><a class="btn btn-primary" href="{% url '/docs.html' %}">下载Crate</a></p>
    </div>
  </div>
</div>
{% endblock %}
