/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 63px;
}

.float-right {
    float: right;
    clear: right;
}

.float-left {
    float: left;
    clear: left;
}

.jumbotron {
    margin-bottom: 0px;
}

.navbar-brand {
    padding: 16px 15px;
}

.navbar-brand > img {
    height: 30px;
}

.cloud-box {
    height: 120px;
}

.fa-large {
    display: block;
    font-size: 48px;
    padding: 12px;
}

.event-logo {
    padding-top: 20px;
}

.client-info {
    height: 290px;
}

.client-info > p.text-center {
    height: 90px;
}

.community-block {
    min-height: 146px;
}

form.navbar-form {
    margin: 17px -15px 15px 0;
}

nav.navbar-second {
    border-radius: 0;
    margin-bottom: 0;
    min-height: 40px;
}

nav.navbar-second .navbar-nav > li > a {
    color: #3e3f3a;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-logos > div {
    padding: 0 15px 30px;
}

/**
 * Blogpost style
 *
 */

#crate-blog-post img {
    border: 1px solid #dfd7ca;
    padding: 2px;
    max-width: 100%;
}

.youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Code style
 *
 */

code, kbd, pre, samp {
    font-family: Consolas, Menlo, Monaco, Courier New, monospace;
}
pre {
    border: 1px solud #efefef;
}
pre code {
    color: #555533;
}

