/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: BlenderPro;
  src: url('../fonts/blender/BlenderPro-ThinWeb.eot');
  src: url('../fonts/blender/BlenderPro-ThinWeb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/blender/BlenderPro-ThinWeb.woff') format('woff'),
    url('../fonts/blender/BlenderPro-Thin.ttf') format('truetype');
}

@font-face {
  font-family: BlenderPro;
  src: url('../fonts/blender/BlenderPro-BoldWeb.eot');
  src: url('../fonts/blender/BlenderPro-BoldWeb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/blender/BlenderPro-BoldWeb.woff') format('woff'),
    url('../fonts/blender/BlenderPro-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
    padding-top: 63px;
}

.float-right {
    float: right;
    clear: right;
}

.float-left {
    float: left;
    clear: left;
}

#crate-blog-post img {
    border: 1px solid #dfd7ca;
    padding: 2px;
    max-width: 100%;
}

.footer {
    padding: 20px 0 0 0;
    margin: 60px 0 0 0;
    color: #98978b;
    background-color: #f8f5f0;
}
.footer .panel {
    font-size: 13px;
}
.footer .footer-link {
    padding: 0 10px;
}
.jumbotron {
    margin-bottom: 0px;
}

.feature {
    padding: 40px 0 20px;
}

.feature-dark {
    background-color: #f8f5f0;
}

.feature-header h1,
.feature-header h2,
.feature-header h3 {
    text-align: center;
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 16px 15px;
}

.navbar-brand > img {
    height: 30px;
}

.cloud-box {
    height: 120px;
}

.fa-large {
    display: block;
    font-size: 48px;
    padding: 12px;
}

.event-logo {
    padding-top: 20px;
}

.client-info {
    height: 290px;
}

.client-info > p.text-center {
    height: 90px;
}

.youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.community-block {
    min-height: 146px;
}

form.navbar-form {
    margin: 17px -15px 15px 0;
}

nav.navbar-second {
    border-radius: 0;
    margin-bottom: 0;
    min-height: 40px;
}

nav.navbar-second .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blender {
    font-family: BlenderPro;
}

.row-logos > div {
    padding: 0 15px 30px;
}

