title: Crate and Docker: Scale your database like your application
description: Use Docker Swarm to create a Crate cluster in the cloud or locally in minutes.
heroImg: wrapper-hero-frontpage
og_image: https://cdn.crate.io./media/1503/crate-logo-165.png


{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>Docker Swarm:<br />native Docker clustering</h1>
    <p class="lead">Swarm is Docker's native clustering tool that can be used to create a cluster of machines for deploying Docker Images with constraints and filters</p>
    <a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}" class="btn btn-fp-white">Try Docker Swarm<br>with Machine!</a>
  </div>
</div>
{% endblock %}


{% block body %}

<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>What is it?</h3>
      <p>Docker Swarm is a tool that treats a group of singular hosts as one large virtual host. Swarm can combine hosts from different data centers, operating systems and hardware configurations. The project is still in beta but already supports multiple scheduling strategies and integrates with other tools like <a href="{% url '/blog/crate-with-mesosphere.html' %}">Mesosphere</a>.
    </div>
    <div class="col-sm-4">
      <h3>Why use it?</h3>
      <p>Using Docker Swarm will enable you to easily deploy images across a Docker cluster with only a few commands to the master node. Swarm integrates with Docker Compose and <a href="{% url '/docker/machine.html' %}">Machine</a>, making a complete toolkit for Docker deployment, orchestration and management.</p>
    </div>
    <div class="col-sm-4">
      <h3>How does Crate use it?</h3>
      <p>Crate uses Docker Swarm to build clusters on AWS, Google Cloud Platform, and locally because the affinity filter and spread strategy allows us to deploy an entire cluster of distributed nodes. Using <a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}">Machine with Swarm</a> makes this process even easier.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Get Started</h2>
      <h4>Install</h4>
      <p>There are two ways to install swarm, the docker image or directly.  This guide will follow the new Docker image installation, if you are using the binary install substitute "docker run --rm swarm" with "swarm"</p>
      <p><em>Docker Image</em>
      <pre><code>docker pull swarm</code></pre>
      </p>
      <p><em>Binary Install</em>
      <pre><code>$ sudo apt-get install golang git
$ mkdir ~/gocode; export GOPATH=~/gocode
$ cd ~/gocode
$ go get -u github.com/docker/swarm
</code></pre></p>
      <h4>Swarm Setup</h4>
      <p>Create a swarm cluster and save the token it generates:</p>
      <pre><code>docker run --rm swarm create</code></pre>
      <p>Configure each node's Docker daemon to start connected to the Swarm Manager:</p>
      <pre><code>docker -H tcp://0.0.0.0:2375 -d</code></pre>
      <p>From the Swarm Master add each Swarm Node by IP address and include the token generated with the create command:</p>
      <pre><code>docker run -d swarm join --addr=_IP_:2375 token://_token_</code></pre>
      <h4>Start the Swarm manager</h4>
      <p>From any computer with Docker installed, connect to the Swarm Master using the IP address and token:</p>
      <pre><code>docker run -d -p --addr=_IP_:2375 token://_token_</code></pre>
      <br />
      <h2>Using the cluster</h2>
      <p>With Swarm up and running and the nodes connected to the master, issue commands to the Swarm master in the same way you would issue commands to a single docker host:</p>
      <pre><code>docker run --rm swarm list t--addr=_IP_:2375 token://_token_</code></pre>
      <h4>Filters</h4>
      <p>Filters are used with the <code>--filter</code> flag and can be used to target individual hosts properties:</p>
      <pre><code>docker run constraint:storage==ssd --name db crate</code></pre>
      <h4>Strategies</h4>
      <p>Docker Swarm supports several different strategies and each one affects which swarm node the swarm master chooses to provision new machines on. By default the <code>--strategy</code> used is <code>spread</code>.</p>
      <pre><code>docker run --strategy=spread --name db crate
docker run --strategy=binpack --name db crate
docker run --strategy=random --name db crate</code></pre>
    </div>
  </div>

  <div class="row">
    <h2>Next Steps: Installing Crate</h2>
    <p>Now that you've learned how easy it is to get started with Docker Machine &amp; Swarm, you have a few options for where to go next. You can:</p>

    <ul>
      <li><a href="{% url '/install/docker.html' %}">Learn to install Crate using Docker.</a></li>
      <li><a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}">Learn to deploy a Crate cluster using Docker Machine and Swarm.</a></li>
    </ul>

  </div>
</div>

<p></p>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-primary">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <h2 class="text-center">Get a Docker Machine cluster up and running with Swarm!</h2>
    <p class="text-center">
      <a href="{% url '/blog/deploying-crate-with-docker-machine-swarm.html' %}" class="btn btn-black btn-lg">Using Machine with Swarm</a>
    </p>
    <p class="text-center">
      <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
    </p>
    </div>
  </div>
</div>
</div>


{% endblock %}
