title: Notice

{% extends "base.html" %}

{% block navbar2 %}
<div class="wrapper wrapper-plain">
    <nav class="breadcrumb-container">
      <div class="container">
  <ol class="breadcrumb">
    <li class="active">Legal</li>
  </ol>
      </div>
    </nav>
</div>
{% endblock %}
{% block body %}

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1>Notice</h1>
        </div>
        <p>Crate uses numerous third-party Open Source Libraries. You always can find the most recent and complete list of libraries in the NOTICE file of our corresponding Github Repository.</p>
        <h2>Crate.IO</h2>
        <p>Copyright 2013-2015 CRATE Technology GmbH and Crate.IO GmbH</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h2>Third party dependencies</h2>
{% filter markdown %}
{% include "legal/notice.txt" %}
{% endfilter %}
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p><a href="https://www.yourkit.com/">YourKit</a> supports open source projects such as Crate with its full-featured Java Profiler.</p>
          <p><img src="{% media '/media/1504/yourkit-logo.png' %}" /></p>
          <p class="small">YourKit, LLC is the creator of <a href="https://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a>
          and <a href="https://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a>,
          innovative and intelligent tools for profiling Java and .NET applications.</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
