title: Trademark Guidelines
description: Crate is a trademark of CRATE Technology Gmbh, registered in the E.U. and in other countries.

{% extends "base.html" %}

{% block navbar2 %}
<div class="wrapper wrapper-plain">
    <nav class="breadcrumb-container">
      <div class="container">
  <ol class="breadcrumb">
    <li class="active">Legal</li>
  </ol>
      </div>
    </nav>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1>Trademark Guidelines</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">

        <p>Crate is a trademark of CRATE Technology Gmbh, registered in the E.U. and in other countries. We are sure you understand that our trademarks are valuable assets of the company.</p>
        <p>Developers who want to use any Crate trademark or service mark in their promotional, instructional or marketing material or make references to our material online or in hard copy need to follow these guidelines.</p>

        <h2>If you use a Crate Trademark</h2>
        <ul>
          <li>you acknowledge that Crate is the sole owner of that trademark.</li>
          <li>you agree not to interfere with Crate´s rights in the trademark anywhere in the world.</li>
          <li>you agree that any goodwill derived from using any Crate trademark inures to the benefit of Crate</li>
          <li>use of the Crate logo is reserved only for licensees as per written license agreement.</li>
          <li>“Crate”, “Crate Data”, “Crate.IO” word marks may not be part of a company or product name.</li>
          <li>“Crate”, “Crate Data”, “Crate.IO” word marks must be smaller and less prominent than your product/service name</li>
          <li>If you reference with “works with” or “compatible to” “Crate”, “Crate Data”, “Crate.IO” your product/service must actually fully function with Crate.</li>
          <li>Do not use “Crate”, “Crate Data”, “Crate.IO” in a way that creates the impression of affiliation or endorsement of Crate.</li>
          <li>Do not use “Crate”, “Crate Data”, “Crate.IO” as domain name or part of a social media name.</li>
          <li>Do not use “Crate”, “Crate Data”, “Crate.IO” in connection with any unlawful activity or on any unlawful site.</li>
          <li>when you distribute with Crate please add the following text “Crate is a trademark of Crate Technology Gmbh, registered in the E.U. and in other countries.</li>
        </ul>
        <p>Please contact us for any question you may have.</p>

      </div>
    </div>

  </div>
</div>
{% endblock %}
