<div class="terminal">
  <div class="terminal-header">
    <div class="terminal-bullet" style="float:left;">
      <span class="bullet-red"></span>
      <span class="bullet-yellow"></span>
      <span class="bullet-green"></span>
    </div>
    <div class="terminal-header-title">crate@play.crate.io | crash</div>
  </div>
  <form class="crate-cli form terminal-body" data-host="https://play.crate.io">
    <pre class="terminal-history"><div class="text-success">Welcome to the Crate Shell (aka CraSh), hit enter to execute query</div></pre>
    <div class="terminal-prompt">
      <input name="input" type="text" class="terminal-prompt" value="cr> {{ query }}"  />
    </div>
  </form>
</div>
