{% block extra_css %}
<link rel="stylesheet" href="{% static '/crash/css/terminal.css' %}" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static '/crash/js/ascii-table.js' %}"></script>
<script type="text/javascript" src="{% static '/crash/js/highlight.pack.js' %}"></script>
<script type="text/javascript" src="{% static '/crash/js/terminal.js' %}"></script>
<script type="text/javascript">
  var term = new Term(document.querySelector("form.crate-cli"));
  term.addComment("Why not start with a simple query, for example:");
  term.addComment("SELECT user['id'], COUNT(*) AS num_tweets FROM tweets GROUP BY 1 ORDER BY 2 DESC LIMIT 5;");
  console.log(term);
</script>
{% endblock %}


<div class="terminal">
  <div class="terminal-header">
    <div class="terminal-bullet" style="float:left;">
      <span class="bullet-red"></span>
      <span class="bullet-yellow"></span>
      <span class="bullet-green"></span>
    </div>
    <div class="terminal-header-title">crate@play.crate.io | crash</div>
  </div>
  <form class="crate-cli form terminal-body" data-host="https://play.crate.io">
    <pre class="terminal-history"><div class="text-success">Welcome to the Crate Shell (aka CraSh) ...</div></pre>
    <div class="terminal-prompt">
      <input name="input" type="text" class="terminal-prompt" value="cr> " />
    </div>
  </form>
</div>
