title: Docker's 2nd Birthday Celebration
description: The San Francisco Crate team will be celebrating Docker's 2nd Birthday at Docker HQ on March 25
date_from: 2015-03-25T17:45
date_to: 2015-03-25T21:00
location: San Francisco, CA
link: http://www.meetup.com/Docker-meetups/events/220935945/
image: /media/1503/Docker-Bday-Party.png

Chris from our European team attended the Docker 2nd Birthday party yesterday in Berlin, having a fantastic time and contributing code to the project.

Next, Christian, Spanky and Tyler from our US team will be celebrating the Docker project's 2nd birthday at Docker headquarters. They will be contributing code, helping raise money for <a href="{% url 'http://docker.party/' %}">Molly Dock</a> and giving the docker team a birthday present!

If you are unable to attend the party in San Francisco check out their website, <a href="{% url 'http://docker.party/events/' %}">http://docker.party/events/</a> for other celebrations all over the world.
