title: Crate & Microsoft Azure
description: Run Crate with Linux or Windows on Microsoft Azure, the second largest and fastest growing provider of Cloud Services in the world.
logo: /static/images/azure-logo.png

{% extends "install.html" %}

{% block install_content %}

<div class="row">
  <div class="col-sm-8">
    <p>
      Microsoft Azure is the second largest and fastest growing provider of Cloud Services in the world. It offers a wide variety of options including Windows servers, containers, application images and much more.
    </p>
    <p>
      Getting Crate working on Azure with Linux or Windows is a simple process. You can use Azure's management console or CLI interface (<a href="https://azure.microsoft.com/en-us/documentation/articles/xplat-cli-install/" target="_blank">Learn how to install here</a>).
      <h2>Azure & Linux</h2>
      <h3>Create a Virtual Network</h3>
      <p>
        To create a cluster of Crate nodes on cloud hosting we need to rely on unicast for inter-node communcation, as multicast will not be available.
      </p>
      <p>
        The easiest way to get Unicast communication working with Azure is to create a Virtual Network (<i>Network Services -> Virtual Network -> Custom Create</i>) so that all of our nodes exist on the same IP range. Give the network a name, a region and let Azure handle all the remaining settings by clicking the next arrow on each screen.
      </p>
      <p>
        <img class="img-responsive" src="/static/images/azure-vpc.png" />
      </p>
      <h3>Create Virtual Machines</h3>
      <p>
        Next create virtual machines to act as your Crate nodes. In this tutorial, I chose two low-specification Ubuntu 14.04 servers, but you likely have your own preferred configurations. The important step is number 4, where we need to select the Virtual Network created earlier.
      </p>
      <p>
        <img class="img-responsive" src="/static/images/azure-vn-select.png" />
      </p>
      <p>
        Also at stage 4 we can create the endpoints required for opening the ports Crate uses. These are 4300 for inter-node communication and 4200 for http. You should end up with something like:
      </p>
      <p>
        <img class="img-responsive" src="/static/images/azure-step4.png" />
      </p>
      <h3>Install Crate</h3>
      <p>
        <i>Note that these instructions need to be followed on each VM in your cluster.</i>
      </p>
      <p>
        To Install Crate, ssh into your VMs and follow <a href="https://crate.io/install/linux/" target="_blank">the standard process for Linux installation</a>, this will automatically start an instance of Crate, which we will need to restart after the next step.
      </p>

      <h3>Configure Crate</h3>
      <p>
        <i>Note that these instructions need to be followed on each VM in your cluster.</i>
      </p>
      <p>
        To set the Unicast hosts for the Crate cluster we change the default configuration file at <i>/etc/crate/crate.yml</i>.
      </p>

      <p>
        Uncomment / add these lines:
      </p>

      <pre><code>discovery.zen.ping.multicast.enabled: false</code></pre>

      <pre><code>discovery.zen.ping.unicast.hosts:
      - internal-ip-address:4300
      - internal-ip-address:4300</code></pre>
      <p>
        <i>You might want to try DNS based discovery for inter-node documentation, <a href="/docs/stable/configuration.html#conf-srv-discovery">find more details</a> in our documentation.</i>
      </p>
        <p>
          Uncomment and set the cluster name <pre>cluster.name: crate</pre>
        </p>
        <p>
          Restart Crate <code>service crate restart</code>.
        </p>
      </p>
      <h2 id="azure-windows">Azure & Windows</h2>
      <h3>Create a Virtual Network</h3>
      <p>
        Follow the same steps as for Azure and Linux.
      </p>
      <h3>Create Virtual Machines</h3>
      <p>
        Similar steps to creating Virtual Machines for Azure and Linux, but create the VM based on the 'Windows Server 2012 R2 Datacenter' image.
      </p>
      <h3>Install Crate</h3>
      <p>
        <i>Note that these instructions need to be followed on each VM in your cluster.</i>
      </p>
      <p>
        To install Crate on Windows Server, you will need a <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank">Java JDK installed</a>. Ensure that the <code>JAVA_HOME</code> environment variable is set.
      </p>
      <p>
        <img class="img-responsive" src="/static/images/azure-envvar.png" />
      </p>
      <p>
        Next <a href="/install/#tarball">download the Crate Tarball</a>, expand it and move to a convenient location.
      </p>
      <h3>Configure Crate and Windows</h3>
      <p>
        <i>Note that these instructions need to be followed on each VM in your cluster.</i>
      </p>
      <p>
        Edit the <i>config/crate.yml</i> configuration file in the expanded directory to make the same changes noted above in running Crate on Azure & Linux.</p>
        <p>
          We need to allow the ports Crate uses through the Windows Firewall
        </p>
        <p>
          <img class="img-responsive" src="/static/images/azure-port.gif" />
        </p>
        <p>
          Finally start crate by running <code>bin/crate</code>.
        </p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="{% static logo %}" />
        <hr />
        {% include "cloud-template-list.html" %}
      </div>
    </div>

    {% endblock %}
