title: ClearVoice simplifies their scalable backend with Crate
description: xxx
name: clearvoice-simplifies-their-scalable-backend-with-crate-data
<!-- slug: php -->
image: /media/1408/clearvoice-logo-on-white.jpg
author: Christian Lutz
<!-- testimonial_quote: Before migration to Crate, one table with 25-30 million records using MySQL needed 10 to 15 seconds to execute the query. With Crate it takes less than 500 milliseconds (that's impressive performance). -->
casestudy_name: Kamil Adryjanek
casestudy_company: ClearVoice
casestudy_industry: Webapps
casestudy_location: Phoenix, AA
casestudy_usecase: Data Store for Python App with SQLAlchemy using AngularJS
highlight_1: Simple use - instead of labour intensive maintenance (eg MongoDB with Elasticsearch)
highlight_2: SQLAlchemy integration for easy switch from MySQL
highlight_3: SQL simplifies developer interface to distributed system
highlight_4: Powerful fulltext search support

{% extends "case-study.html" %}

{% block content %}

<p>As ClearVoice was preparing for its launch in June, it was looking for a backend data store for its application. In the meantime, it was using MySQL as its development database, but since the amount of data being stored was about to grow immensely once it launched, ClearVoice planned to de-normalize its data schema and store it in a distributed fashion, using MongoDB and Elasticsearch, Solr or another Lucene-based solution.</p>

<blockquote>“We didn’t want to use a sharded and clustered MySQL database or Hadoop since maintaining it would have been labor intensive and use up our engineering resources”, says Jeff Nappi, ClearVoice’s Director of Engineering.</blockquote>

<p>Jeff then stumbled upon Crate.IO in Hacker News and decided to check it out, especially since ClearVoice was using the SQLAlchemy ORM for Python and Crate already had a Python driver.</p>

<blockquote>“I started looking at Crate and was impressed by the quality of the code. We submitted the pull request and got a response over the weekend. Switching from MySQL to Crate took a couple of days. Denormalizing the data was simple as we had already planned to flatten out the data beforehand and weren’t using many JOINs. It was very convenient to integrate Crate into our existing code base even though it was written into a different database”.</blockquote>

<p>Jeff also mentions that the ability to use SQL as Crate.IO’s interface language was an added benefit since SQL reduces the learning curve when developers need to interface with distributed systems and was much simpler than writing complex queries in JSON. “The fact that Crate uses SQL lowers the barriers to entry when using distributed search. And on top of that with Crate you get MongoDB and Elasticsearch in one scalable package.”</p>

<p>Today, the Crate.IO store holds 20 million records and is expected to grow into billions in the near future. Its primary function is the search index powering ClearVoice.</p>

<h2>About ClearVoice</h2>

<p>The most comprehensive index of prominent web content producers, the ClearVoice Score is based on schema and authorship markup from Google and Twitter (with new signals coming soon). It has already indexed tens of thousands of sites and authors and millions of posts. Based on digital signatures, the ClearVoice Score algorithm identifies subject matter experts and empowers companies. Brands and publishers can search by author, topic, and publication and compare the power of voices within their vertical. Authors can showcase their breadth of work in portfolios. ClearVoice is a Phyton web app using AngularJS; Crate.IO is used as its data store.</p>

{% endblock %}
