title: Installing Crate
description: Download Crate. Easy installation of Crate in the cloud, docker, *nix and OSX. Works with Java, Python, Ruby, PHP, Node.js, erlang, Mono, Golang, and dbext
stable_version: 0.47.4
stable_version_date: Feb 18th, 2015
testing_version: 0.47.4

{% extends "doc.html" %}

{% block docs_content %}
    <div class="row">
      <div class="col-sm-8">

        <h2><i class="fa fa-terminal"></i> Quick Install using Docker</h2>
        <p>The most convenient and secure way to run Crate on your Linux host is the usage of <a href="https://docker.com" rel="nofollow">Docker</a>.</p>
        <p>It will not only keep your host system clean but also allows you to scale your backend from a single machine to a multi-node cluster easily.</p>
        <pre class="codehighlight"><span class="nd">docker</span> <span class="ni">pull</span> <span class="ni">crate</span></pre>
        <pre class="codehighlight"><span class="nd">docker</span> <span class="ni">run</span> <span class="o">-p</span> <span class="m">4200:4200</span> <span class="ni">crate</span></pre>
        <p>Then visit your host on port <code>4200</code> in the browser,
          e.g. <code>http://127.0.0.1:4200/admin/</code>.</p>
        <p>Read more about <a href="{% url '/docs/docker.html' %}">Crate &amp; Docker here</a>.</p>

        <hr />

        <h2><i class="fa fa-terminal"></i> Try with Tarball</h2>
        <p>Use our easy one-step command to launch Crate in a sandboxed environment: Hint: Launch it on two or more machine in the same network :)</p>
        <pre class="codehighlight"><span class="nd">bash</span> <span class="o">-c</span> <span class="s">"<span class="nl">$(curl -L try.crate.io)</span>"</span></pre>
        <p>Insert your data or play around with the live Twitter stream as sample data.
          (Requires Java 7 on OS X or Linux.
          <a href="{% url '/docs/linux.html' %}#instructions">Step-by-step instructions</a> available).</p>

        <hr />

        <h2><i class="fa fa-download"></i> Download</h2>
        <form class="well form-horizontal" id="form-download"
              data-url="https://cdn.crate.io/downloads/releases/crate-{{ stable_version }}.tar.gz"
              data-required="false">
          <fieldset>
            <p>Version <strong>{{ stable_version }}</strong><br /><small class="text-muted">Released on {{ stable_version_date }}</small></p>
            <div class="form-group form-group-email">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input name="email" id="download-email" type="email" placeholder="your.name@example.com" class="form-control" />
                <span class="small text-danger hide">Please provide a valid email address.</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" id="download-main"><i class="fa fa-download"></i> Download .tar.gz</button>
              </div>
            </div>
          </fieldset>
        </form>

        <p>Testing builds of Crate should be used for testing upcoming new features only and should not be used in production.
	<a href="https://cdn.crate.io/downloads/releases/crate-{{ testing_version }}.tar.gz" target="_blank">Download latest testing release.</a></p>
        <p>Nightly builds of Crate are provided for testing purposes only.
	You can download the latest builds <a href="https://cdn.crate.io/downloads/releases/nightly/" target="_blank">here</a>.</p>

      </div>
      <div class="col-sm-4">
        <div class="well">
          <h4><i class="fa fa-book"></i> Server Manual</h4>
          <p>Stable Version <small class="text-muted">({{ stable_version }})</small> <a href="/docs/stable/">Read &raquo;</a>
          <br />Latest Version <small class="text-muted">({{ testing_version }})</small> <a href="/docs/en/latest/">Read &raquo;</a></p>
        </div>
        <div class="well">
          <h4><i class="fa fa-book"></i> Client Docs</h4>
          <p>Find out about Crate client libraries for Java, Python, PHP and many other languages.
          <br /><a href="{% url '/docs/clients.html' %}">Read &raquo;</a></p>
        </div>
      </div>
    </div>

{% endblock %}
