title: The Distributed Database for Docker
description: Crate is the distributed database for containerized environments such as Docker. Based on the familiar SQL syntax Crate combines high availability, resiliency and scalability in a distributed design that allows to query mountains of data in realtime, not batches.

{% extends "base.html" %}

{% block title %}CRATE{% endblock %}

{% block header %}
<div class="wrapper wrapper-hero" id="wrapper-hero-frontpage">
  <div class="container">
    <h1>Distributed SQL Database for the age of Docker</h1>
    <p class="lead">For containers and microservices on:<br />Docker, Mesosphere, CoreOS, Amazon, Azure, Google, Softlayer</p>
    <p><a class="btn btn-fp-white" href="{% url '/overview.html' %}">What is Crate?</a><a class="btn btn-fp-black" href="{% url '/try.html' %}">Try Crate now!</a></p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p><a href="{% url '/overview.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1502/sql.png' %}" /></a></p>
        <h2>Distributed SQL Queries</h2>
        <p class="">One to rule them all: sub-second queries on tabular data and semi-structured records. Including support for binary objects (BLOBs).</p>
        <p>Read more about <a href="{% url '/overview.html' %}">Crate's features</a>.</p>
      </div>
      <div class="col-sm-4">
        <p><a href="{% url '/docs/cloud.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1502/shared_nothing.png' %}" /></a></p>
        <h2>Shared Nothing Architecture</h2>
        <p class="">Adding nodes on commodity hardware or in the cloud is as simple as a single command in your terminal.</p>
        <p>Learn how to <a href="{% url '/docs/cloud.html' %}">install Crate in the cloud</a>.</p>
      </div>
      <div class="col-sm-4">
        <div class="dynamic-content-well">
          <h4 class=""><a href="{% url '/blog.html' %}">The Latest Posts</a></h4>
          <table class="table">
            {% for post in posts|slice:":3" %}
            <tr>
              <td><a href="{{ post.url }}" title="{{ post.title|escape }}">{{ post.title }}</a></td>
            </tr>
            {% endfor %}
         </table>
        </div>
        <div class="dynamic-content-well">
          <h4 class=""><a href="{% url '/events.html' %}">Meet Us Here</a></h4>
          <table class="table">
            {% for event in upcoming_events|slice:":3" %}
            <tr>
              <td><a href="{{ event.url }}" title="{{ event.title|escape }}">{{ event.title }}</a></td>
            </tr>
            {% endfor %}
         </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="">Crate rocks ...</h2>
        <ul class="list-group">
          <li class="list-group-item">
	  ... as <b>resilient</b>, <b>distributed</b> persistence layer for <b>containerized applications</b>.
          </li>
          <li class="list-group-item">
	  ... as an operational datastore for web applications that require powerful <b>fulltext search</b>.
          </li>
          <li class="list-group-item">
	  ... if you process large amounts of <b>time-series data</b>, e.g. for <b>IoT applications</b> with read/write workloads.
          </li>
          <li class="list-group-item">
	  ... if you process <b>semistructured/dynamic data</b>, including geospatial data. Crate supports binary objects as well.
          </li>
          <li class="list-group-item">
	  ... <b>realtime</b> map-reduce style queries on a modern, post-hadoop architecture.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="">Featured In</h2>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://techcrunch.com/2014/04/24/a-crate-load-of-data/">
              <img class="img-responsive" src="{% media '/media/1502/techcrunch.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://gigaom.com/2014/06/02/crate-pitches-its-zero-admin-data-store-for-the-internet-of-things-and-other-high-concurrency-sectors/">
              <img class="img-responsive" src="{% media '/media/1502/gigaom.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://news.ycombinator.com/item?id=7609323">
              <img class="img-responsive" src="{% media '/media/1502/hackernews.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://inventures.eu/crate-data-wins-at-2014-launchpad-competition">
              <img class="img-responsive" src="{% media '/media/1502/inventures.png' %}" />
              </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="">Awards</h2>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/crate-io-wins-techcrunch-disrupt-startup-battle-2.html' %}" title="Crate.IO Wins TechCrunch Disrupt Startup Battle!">
              <img class="img-responsive" src="{% media '/media/1502/techcrunch.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/crate-data-wins-the-2014-structure-launchpad-competition.html' %}" title="Crate Wins the 2014 GigaOm Structure Launchpad Competition">
              <img class="img-responsive" src="{% media '/media/1502/gigaom_launchpad.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/pioneers-festival-final-8.html' %}" title="Crate.IO makes it to the Final 8 at Pioneers Festival">
              <img class="img-responsive" src="{% media '/media/1502/pioneers.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <a href="https://eir.cisco.com/">
              <img class="img-responsive" src="{% media '/media/1502/cisco.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <a href="http://sxsw.com/interactive/news/2015/seventh-annual-sxsw-accelerator%C2%AE-finalists-judges-and-emcees-revealed-2015">
              <img class="img-responsive" src="{% media '/media/1502/sxsw.png' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
