title: Your Elastic Data Store
description: Crate is an open source database built with familiar SQL syntax, replication, sharding and Lucene indexes in one complete package.

{% extends "base.html" %}

{% block title %}CRATE{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1 class="blender"><b>CRATE <small>The Distributed Database for Docker</small></b></h1>
    <p class="blender"><b>Scale Data as Elastic as your Application.</b></p>
    <p>
      <a href="{% url '/overview.html' %}" class="btn btn-primary">What is Crate?</a>
      <a href="{% url '/try.html' %}" class="btn btn-success">Try it!</a>
    </p>
  </div>
</div>

<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p><img class="img-responsive thumbnail" src="{% static '/static/images/sql.jpg' %}" /></p>
        <h2>Distributed SQL</h2>
        <p class="lead">One to rule them all: sub-second queries on tabular data and semi-structured records. Including support for binary objects (BLOBs).</p>
        <p>Read more about <a href="{% url '/overview.html' %}">Crate's features</a>.</p>
      </div>
      <div class="col-sm-4">
        <p><img class="img-responsive thumbnail" src="{% media '/media/1501/powerstrip-home.jpeg' %}" /></p>
        <h2>Crate, Docker, Weave, Flocker, and Powerstrip!</h2>
        <p class="lead">Amazing work coming out of SnowSprint with the launch of ClusterHQ's Powerstrip.</p>
        <p>Read more about <a href="{% url '/blog/crate-flocker-weave-powerstrip-snowsprint.html' %}">Crate and Powerstrip</a>.</p>
      </div>
      <div class="col-sm-4">
        <p><img class="img-responsive thumbnail" src="{% static '/static/images/sharednothing.png' %}" /></p>
        <h2>Shared Nothing Architecture</h2>
        <p class="lead">Adding nodes on commodity hardware or in the cloud is as simple as a single command in your terminal.</p>
        <p>Learn how to <a href="{% url '/docs/cloud.html' %}">install Crate in the cloud</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-header">
          <h2 class="text-center">Featured In</h2>
        </div>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <a href="http://techcrunch.com/2014/04/24/a-crate-load-of-data/">
              <img class="img-responsive" src="{% media '/media/1501/techcrunch-monotone.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-2">
            <a href="http://gigaom.com/2014/06/02/crate-pitches-its-zero-admin-data-store-for-the-internet-of-things-and-other-high-concurrency-sectors/">
              <img class="img-responsive" src="{% media '/media/1501/gigaom-monotone.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-2">
            <a href="http://news.ycombinator.com/item?id=7609323">
              <img class="img-responsive" src="{% media '/media/1501/hackernews-monotone.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-2">
            <a href="http://inventures.eu/crate-data-wins-at-2014-launchpad-competition">
              <img class="img-responsive" src="{% media '/media/1501/inventures-monotone.png' %}" />
              </a>
          </div>
        </div>
        <div class="page-header">
          <h2 class="text-center">Awards</h2>
        </div>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <a href="{% url '/blog/crate-io-wins-techcrunch-disrupt-startup-battle-2.html' %}" title="Crate.IO Wins TechCrunch Disrupt Startup Battle!">
              <img class="img-responsive" src="{% media '/media/1501/techcrunch-monotone.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-2">
            <a href="{% url '/blog/crate-data-wins-the-2014-structure-launchpad-competition.html' %}" title="Crate Wins the 2014 GigaOm Structure Launchpad Competition">
              <img class="img-responsive" src="{% media '/media/1501/gigaom-structure-montone.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-2">
            <a href="{% url '/blog/pioneers-festival-final-8.html' %}" title="Crate.IO makes it to the Final 8 at Pioneers Festival">
              <img class="img-responsive" src="{% media '/media/1501/pioneers-monotone.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-4 col-md-3">
            <a href="https://eir.cisco.com/">
              <img class="img-responsive" src="{% media '/media/1501/cisco-monotone.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-4 col-md-3">
            <a href="http://sxsw.com/interactive/news/2015/seventh-annual-sxsw-accelerator%C2%AE-finalists-judges-and-emcees-revealed-2015">
              <img class="img-responsive" src="{% media '/media/1501/sxsw-monotone.png' %}" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="page-header">
          <h2 class="text-center">Crate rocks ...</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            as resilient, distributed persistence layer for containerized applications.
          </li>
          <li class="list-group-item">
            if you process large amounts of time-series data, e.g. for IoT applications with read/write workloads.
          </li>
          <li class="list-group-item">
            if you process semistructured/dynamic data, including geospatial data. Crate supports binary objects as well.
          </li>
          <li class="list-group-item">
            operational datastore for web applications that require powerful fulltext search.
          </li>
          <li class="list-group-item">
            realtime map-reduce style queries on a modern, post-hadoop architecture.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
