title: Using Crate to Power Your Java Applications
description: Crate is written in Java for maximum performance. No need to say that therefore it is the best fit for your large-scale Java applications.
name: Java
slug: java
image: /media/1503/lang-java-large.png

{% extends "landing-lang.html" %}

{% block content %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Install &amp; Develop</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-8">
        <ul>
          <li><a href="https://packagist.org/packages/crate/crate-pdo" target="_blank">PDO Driver on Packagist</a></li>
          <li><a href="https://packagist.org/packages/crate/crate-dbal" target="_blank">DBAL Driver on Packagist</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_github.png' %}" height="70" />
      </div>
      <div class="col-sm-8">
        <ul>
          <li><a href="http://github.com/crate/crate-pdo" target="_blank">PDO Driver on GitHub</a></li>
          <li><a href="http://github.com/crate/crate-dbal" target="_blank">DBAL Driver on GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
