title: Using Crate to Power Your Java Applications
description: Crate is written in Java for maximum performance. No need to say that therefore it is the best fit for your large-scale Java applications.
name: Java
slug: java
image: /media/1503/lang-java-large.png

{% extends "landing-lang.html" %}

{% block content %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Install &amp; Develop</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="lead">Our Java distributions are hosted on Bintray and available through JCenter. The JDBC driver requires Crate 0.38.0 or newer.</p>
	<p><a href="https://bintray.com/crate/crate">Crate on Bintray</a></p>
        <ul class="list-unstyled">
	  <li>Download <a href="https://bintray.com/crate/crate/crate-client/view">Java Client</a></li>
	  <li>Download <a href="https://bintray.com/crate/crate/crate-jdbc/view">JDBC Driver</a></li>
	</ul>
      </div>
      <div class="col-sm-4">
	<img class="max-160" src="{% media '/media/1503/bintray.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Learn</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
	<p class="lead">Get started with our tutorial on using Crate with a Java application and take a look at some sample code.</p>
        <ul class="list-unstyled">
	  <li>Documentation for <a href="/docs/projects/crate-java/stable/">Java Client</a></li>
	  <li>Docuemntation for <a href="/docs/projects/crate-jdbc/stable/">JDBC Driver</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
	<img class="max-160" src="{% media '/media/1503/icon_search.png' %}" />
      </div>
    </div>
  </div>
</div>

{% endblock %}
