title: Jobs
description: Crate.IO is hiring! We work for two things: technology excellence and being a great place to work.

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Crate.IO is hiring!</h1>
	<p class="lead">We work for two things: technology excellence and being a great place to work.</p> 
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <p>Joining Crate.IO lets you be part of an open open source company that’s set to change how developers use data stores. We’re hiring in <strong>Dornbirn/Austria</strong> and <strong>Berlin/Germany</strong>. We are looking for exceptional individuals with the drive to join us for the challenges and the rewards of developing something new and growing quickly.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Java Software Engineer</h3>
      <table class="table">
          <tr>
            <td>Team or role:</td>
            <td>Software Engineering</td>
          </tr>
          <tr>
            <td>Job type:</td>
            <td>Full-time</td>
          </tr>
          <tr>
            <td>Last updated:</td>
            <td>Dec 04, 2014</td>
          </tr>
          <tr>
            <td>Job location(s):</td>
            <td>Berlin/Germany, Dornbirn/Austria</td>
          </tr>
      </table>
      <p><a class="btn btn-primary btn-sm" href="/jobs/java-software-engineer/">Check out the job spec &raquo;</a></p>
    </div>
    <div class="col-sm-6">
      <h3>Developer Advocate</h3>
      <table class="table">
          <tr>
            <td>Team or role:</td>
            <td>Developer Advocate</td>
          </tr>
          <tr>
            <td>Job type:</td>
            <td>Full-time</td>
          </tr>
          <tr>
            <td>Last updated:</td>
            <td>Dec 04, 2014</td>
          </tr>
          <tr>
            <td>Job location(s):</td>
            <td>Berlin/Germany</td>
          </tr>
      </table>
      <p><a class="btn btn-primary btn-sm" href="/jobs/developer-advocate-developer-relations/">Check out the job spec  &raquo;</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>Please send your resume and application to jobs@crate.io and we’ll be in touch with you!</p>
      <p>Links to other web sites and resources where we might learn more about you (personal blog, Twitter, GitHub, Stackoverflow, etc.) are greatly appreciated.</p>
    </div>
  </div>

</div>
</div>
{% endblock %}
