title: Crate and Mesosphere: Use your Datacenter as a Collection of Resources
description: 
heroImg: wrapper-hero-frontpage


{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>Crate and Mesosphere:<br />Use your Datacenter as One Big Computer</h1>
    <a href="{% url '/try.html' %}" class="btn btn-fp-white">Get your cluster up<br>and running now!</a>
  </div>
</div>
{% endblock %}


{% block body %}
<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Crate is a distributed database that allows you to create a flexible and scalable backend suited to a wide variety of purposes. Combined with Mesosphere, developers can code for datacenter backends as if they were a local development machine.</p>
    </div>
    <div class="col-sm-12">
      <p>Mesosphere abstracts computer resources such as CPU, Memory and Storage to enable you to treat your distributed Crate cluster as a single collection of resources through a common interface for resource management.</p>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Benefits of using Crate with Mesosphere</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/290x150" />
    </div>
    <div class="col-sm-8">
      <ul>
        <li><strong>Abstraction</strong> - No matter the size of your data center, all of its resources are treated as one pool.</li>
        <li><strong>Optimization</strong> - Target applications at the machines that can execute them effectively.</li>
        <li><strong>Automatic Healing</strong> - If a node fails, the node cluster adjusts accordingly and you wont experience any loss of data.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    <br />
    <p class="text-center">
      <a href="http://mesosphere.com/2015/02/25/deploying-crate-on-mesos-with-marathon/" class="btn btn-primary btn-lg" target="_blank">Get Started with Crate and Mesosphere</a>
    </p>
    </div>
  </div>
</div>
</div>
<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-primary">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <h2 class="text-center">Get your cluster up and running in no time!</h2>
    <p class="text-center">
      <a href="http://mesosphere.com/2015/02/25/deploying-crate-on-mesos-with-marathon/" class="btn btn-black btn-lg" target="_blank">Start your cluster now!</a>
    </p>
    <p class="text-center">
      <a href="{% url '/community.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
    </p>
    </div>
  </div>
</div>
</div>


{% endblock %}
