title: Crate for Python Developers
description: Connect your Python application to Crate to leverage the speed of search and elegance of SQL and make use of SQLAlchemy.
name: Python
slug: python
image: /media/1503/lang-python-notext.png
testimonial_quote: The fact that Crate Data uses SQL lowers the barriers to entry when using distributed search. And on top of that with Crate you get MongoDB and Elasticsearch in one scalable package.
testimonial_name: Jeff Nappi, Director of Engineering
testimonial_company: Clearvoice

{% extends "landing-lang.html" %}

{% block content %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Install &amp; Develop</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
	<p class="lead">Our Python projects are hosted on the Python Packaging Index.</p>
        <ul class="list-unstyled">
	  <li>Download <a href="https://pypi.python.org/pypi/crate/">Python Client</a></li>
	  <li>Download <a href="https://pypi.python.org/pypi/crash/">Crate Shell (aka Crash)</a></li>
	</ul>
      </div>
      <div class="col-sm-4">
	<img class="max-160" src="{% media '/media/1503/pypi.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Learn</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
	<p class="lead">Get started with our tutorial on using Crate with a Python application and take a look at some sample code.</p>
        <ul class="list-unstyled">
	  <li>Documentation for
	  <a href="/docs/projects/crate-python/stable/">Python Client</a></li>
	  <li>Documentation for
	  <a href="/docs/projects/crash/stable/">Crate Shell (aka Crash)</a></li>
	</ul>
      </div>
      <div class="col-sm-4">
	<img class="max-160" src="{% media '/media/1503/icon_search.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	<h2>Contribute</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
	<p class="lead">All our Python projects are Open Source! You can start contributing in a minute.</p>
        <ul class="list-unstyled">
	  <li>Learn how to <a href="{% url '/community/contribute.html' %}">contribute</a></li>
	  <li>Find available bounties on <a href="https://www.bountysource.com/teams/crate/issues?tracker_ids=505660">BountySource</a></li>
	</ul>
      </div>
      <div class="col-sm-4">
	<img class="max-160" src="{% media '/media/1503/cloud_open-source.png' %}" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
