title: Snow Sprint 2015
description: The team at Crate.io is beyond excited to announce Snow Sprint 2015!

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-plain">
  <img class="img-responsive" src="{% static '/static/images/snowsprint-header.png' %}" />
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
	<h1>Crate Snow Sprint 2015</h1>
      </div>
      <p class="lead">The team at Crate.io is beyond excited to announce Snow Sprint 2015!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2>Summary</h2>
      <table class="table">
        <tr>
          <td><b>Dates</b></td>
          <td>26 January—31 January, 2015</td>
        </tr>
        <tr>
          <td><b>Location</b></td>
          <td>Hittisau, Vorarlberg, Austria</td>
        </tr>
        <tr>
          <td><b>Contact</b></td>
          <td>snowsprint@crate.io</td>
        </tr>
        <tr>
          <td><b>Mailing List</b></td>
          <td><a href="https://groups.google.com/forum/#!forum/snowsprint">Snowsprint Google Group</a></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive thumbnail" src="{% static '/static/images/winter-hut.jpg' %}" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <p>This event revives a long tradition of <a href="https://www.google.at/search?q=snowsprint+austria&newwindow=1&source=lnms&tbm=isch">legendary Austrian Alpine</a> events where developers from all over the world gather in a beautiful mountain setting for a one-of-a-kind hackathon, and you're invited! We'll be taking over a large mountain "hut" in the Austrian Alps with a small ski area nearby and hacking day and night on Crate. This is a great opportunity to get to know and work alongside the Crate core developers as well as meet other members of the Crate community and the larger ecosystem.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Topics</h2>

      <p>Our sprint topics will all be loosely centered around using Crate and a wide variety of topics have been suggested, but nothing is set in stone yet. For example: </p>

      <ul>
        <li>Improving Crate's programming interfaces (Python, Go, Ruby, etc.)</li>
        <li>Benchmarking Crate's performance</li>
        <li>Docker, Weave, Mesos, or other container support</li>
        <li>Improving documentation & creating tutorials</li>
        <li>Hacking on Crate's core</li>
        <li>Anything else that interests you about Crate!</li>
      </ul>

      <p>Share your sprint topic ideas with the group on the <a href="https://groups.google.com/forum/#!topic/snowsprint/Y7VTFLPix1Q" title="mailing list">mailing list</a>.</p>
      <h2>Details</h2>
      <p>There will be about 30 people staying directly at the sprint location as well as other people who live locally joining us during the day. The price is 300€ (plus VAT) per person and includes transportation to and from the sprint location from Dornbirn, as well as a bed, food, wifi, and some fun outdoor winter activities. Everyone is responsible for their own transportation to and from Dornbirn. If the sprint locations fills up it might be possible to arrange additional lodging nearby. </p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive thumbnail" src="{% static '/static/images/cozy-interior.jpg' %}" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Logistics</h2>

      <p>The SnowSprint will be in a lovely mountain lodge called <a href="http://www.leos.at/?c=huette-start&h=2">Leo's H&uuml;tten</a> in the town of <a href="http://www.hittisau.at">Hittisau, Austria</a>.
        <br />Crate will provide shuttles up into the mountains from the nearby town of Dornbirn, Austria. It is your mission to arrive in Dornbirn by Monday, January 26th.
        <br />We recommend you arrive a day early so you make the most out of your sprint and combat any jetlag, but it is not required. We can help you find and book an affordable room for the night in Dornbirn if you choose this option.
      </p>

      <p><a href="https://goo.gl/maps/ZzeJh">Show on Google Maps</a></p>

      <p>There are a few straightforward ways to get there:</p>

      <p>The closest airports are Zurich (ZRH), Munich (MUC), and the smaller Friedrichshafen Airport (FDH). Once you've landed, it will be necessary to take a train in order to get to Dornbirn, Austria, the central meeting place for the SnowSprint and <a href="https://goo.gl/maps/Jx0y2">Crate.io headquarters</a>.</p>

      <h3>Taking the Train</h3>
      <p><a href="http://fahrplan.oebb.at">&Ouml;BB time table</a></p>

      <p>If you're coming from Zurich (west), it is easiest to take the train from Zurich Airport to <a href="http://www.rome2rio.com/s/Zurich-Airport-ZRH-Switzerland/St-Margrethen">St. Margrethen station</a> (easy transfer at St. Gallen), where we will arrange transport for you from there to Dornbirn. The train from Zurich takes 1:45m and costs around 35€ each way (2nd class). It is also possible to take a different train directly to <a href="http://www.rome2rio.com/s/Zurich-Airport-ZRH-Switzerland/Dornbirn">Dornbirn station</a>, but for some reason, nobody recommends this. I think it's longer and the connections aren't convenient.</p>

      <p>If you're arriving at Munich airport, the train ride to <a href="http://www.rome2rio.com/s/Munich-Airport-MUC-Germany/Dornbirn">Dornbirn</a> is about 3 hours.</p>

      <p>If you're coming from the east, it is usually easy to find a train that comes to <a href="http://www.rome2rio.com/s/Vienna/Dornbirn">Dornbirn station</a>.</p>

      <p>In our experience, most people arrive at Zurich and take the train to St. Margrethen. If you plan to drive yourself, we can help with driving directions. Make sure you have snow tires!</p>
    </div>

</div>
</div>
{% endblock %}
