title: Thanks dstufft!
description:

{% extends "base.html" %}

{% block body %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">

      <p><img style="width:100%;" class="thumbnail img-responsive" src="{% media '/media/1409/robert-downey-jr-i-love-you-kisses.gif' %}" /></p>

      <p>Before we took over crate.io, Donald Stufft started to build a PyPI alternative named Crate.</p>
      <p>Luckily he's now a PyPI administrator and fully focussing on PyPI and pip.</p>
      <p>We're still seeing some traffic to paths like /packages/foo/ and keep the mirror pages as long we see some traffic.</p>
      <p><strong>Jodok, for the Crate Team</strong></p>

    </div>
    <div class="col-sm-4">
      <div class="well">
        Don't forget to check out our other <a href="{% url '/community.html' %}">community resources</a>
        and sign up for our <a href="https://groups.google.com/forum/#!forum/crateio" target="_blank">Google Group</a>,
        it's where we're announcing all of our releases.
      </div>
    </div>
  </div>

</div>

{% endblock %}
