title: Thank you for your contribution!
description:

{% extends "base.html" %}

{% block body %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>{{ title }}</h1>
      </div>
      <p class="lead">Time to give back some love :)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">

      <p><img style="width:100%;" class="thumbnail img-responsive" src="{% media '/media/1409/robert-downey-jr-i-love-you-kisses.gif' %}" /></p>

      <p>We're using <a title="Crate on GratiPay" href="https://gratipay.com/crate/">GratiPay</a>
        (formerly known as GitTip) to send you a small token of our appreciation in thanks for your contributions to Crate and the community.
        We'll gift you $0.80 per week, all you need to do is sign up for GratiPay, then let us know what account handle you used (Twitter, Facebook, etc.) so we can link it up.
        It's super easy and only takes a second:</p>

      <p class="text-center"><a class="btn btn-success" href="https://gratipay.com/crate/">Sign Up For GratiPay to Claim Your Reward</a></p>

      <hr />

      <p class="h4">Why $0.8?</p>
      <p>Very easy ... it's all about Crate [CR8]!<br />
        (You may have noticed we're using <strong>cr8.is</strong> as our URL shortener as well)</p>
      <p class="h4">Why weekly?</p>
      <p>Very easy as well. We strongly believe a community isn't a one-time thing.</p>

      <hr />

      <p>Help us to make the amount we give with GratiPay as high as possible. Encourage your friends to star us, fork us, and finally contribute back!</p>

    </div>
    <div class="col-sm-4">
      <div class="well">
        Don't forget to check out our other <a href="{% url '/community.html' %}">community resources</a>
        and sign up for our <a href="https://groups.google.com/forum/#!forum/crateio" target="_blank">Google Group</a>,
        it's where we're announcing all of our releases.
      </div>
    </div>
  </div>

</div>

{% endblock %}
