title: Try Crate
description: Try Crate from your browser, no installation needed. The Crate Cube is a condensed miniaturized cluster that demonstrates the speed Crate runs SQL queries.

{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/static/css/crate.terminal.css' %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static '/static/js/ascii-table.js' %}"></script>
<script src="{% static '/static/js/highlight.pack.js' %}"></script>
<script src="{% static '/static/js/crate.js' %}"></script>
{% endblock %}

{% block header %}
<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
	<h1>Try Crate</h1>
	<p class="lead">Starting with Crate is a piece of cake! Simply try out our demo cluster console ...</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">

  <div class="row">
    <div class="col-lg-12">

      <div class="terminal">
        <div class="terminal-header">
          crate@play.crate.io | crash
        </div>
        <form class="crate-cli form terminal-body" data-host="https://play.crate.io">
          <pre class="terminal-history"><div class="text-success">Welcome to the Crate Shell (aka CraSh) ...</div></pre>
          <div class="terminal-prompt">
            <input name="input" type="text" class="terminal-prompt" value="cr> " />
          </div>
        </form>
      </div>
      <p>&nbsp;</p>
      <p class="text-right"><a class="btn btn-default" href="/docs/stable/sql/index.html" target="_docs"><i class="fa fa-book"></i> Crate SQL Help &raquo;</a></p>

      <p>&nbsp;</p>

      <p>Start off with exploring existing tables:</p>
      <pre class="tut">select schema_name, table_name, number_of_shard, number_of_replicas
from information_schema.tables where schema_name = 'doc';</pre>
      <p>Select retweeted tweets:</p>
      <pre class="tut">select id, user['id'], text from tweets where user['id'] > 1000000000 limit 10;</pre>
      <p>Count tweets and unique users:</p>
      <pre class="tut">select count(*) as tweets, count(distinct user['id']) as users from tweets;</pre>

      <p>Step by Step:</p>
      <pre class="tut">create table T_NAME (
  name string,
  address object as (
    zip integer,
    city string,
    country string
  ),
  tags array(string)
) clustered into 8 shards
with (number_of_replicas='0-all');</pre>
      <pre class="tut">insert into T_NAME (name, address, tags) values
('Crate.IO GmbH', {zip=10969, city='Berlin', country='Germany'}, ['crate','de']),
('Crate.IO', {zip=94107 , city='San Francisco', country='United States'}, ['crate','us']),
('Crate Technology GmbH', {zip=6850, city='Dornbirn', country='Austria'}, ['crate','at']);</pre>
      <pre class="tut">select count(*) as count from T_NAME;</pre>
      <pre class="tut">select name, address['city'] as city, tags from T_NAME;</pre>
      <pre class="tut">drop table T_NAME;</pre>

      <p class="text-center"><a href="https://play.crate.io/admin" class="btn btn-primary btn-lg"><i class="fa fa-dashboard"></i> Open full Admin UI</a></p>

    </div>
  </div>
</div>
</div>


<div class="wrapper wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	<p class="h2">Want to use Crate in production?</p>
	<p><a class="btn btn-default" href="{% url '/docs.html' %}"><i class="fa fa-flask"></i> Install Crate</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

