title: Panoramica
description:

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero" id="wrapper-hero-overview">
  <div class="container">
    <h1>Crate: archivio di dati SQL in tempo reale e facilmente espandibile</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>Espandibile. Semplice. Veloce.</h2>
      <p><strong>Crate è un archivio di dati in cluster con architettura shared nothing, completamente ricercabile, e progettato per documenti: un backend veloce e potente, altamente scalabile per le applicazioni ad alta intensità di dati, l’Internet degli Oggetti o l’analisi in tempo reale. È al 100% open source.</strong> <strong>Crate.IO è un archivio di dati con i benefici di un DB documentale NoSQL con una funzionalità di ricerca potente (Elasticsearch come biblioteca inclusa), accessibile utilizzando SQL.</strong></p>
    
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>Potente e Velocissimo</h2>
      <p>Crate è un backend potente per dati tabulari, record semistrutturati e oggetti binari (Blob). È altamente disponibile e offre grande accesso parallelo in tempo reale, consentendo risposte sotto il secondo per miliardi di record.</p>
      <h2>Zero Amministrazione</h2>
      <p>Tutti i nodi di Crate.IO sono uguali. Aggiungere nodi su commodity hardware o cloud è semplice come una singola riga di comando sul tuo terminale. Un cluster di Crate è auto-configurazione e si auto-ripara.</p>
      <h2>Perchè Crate?</h2>
      <p>Crate.IO è una soluzione espandibile in tempo reale, che offre grandi vantaggi in termini di costi ed efficienza. Crate ha presto l’approccio esclusivo di combinare un dB relazionale SQL (es MySQL), NoSQL (es MongoDB) e la Ricerca (Lucene/ES).</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive thumbnail" src="{% media '/media/1502/crate-architecture.png' %}" />
    </div>
    <div class="col-sm-6">

      <h2>IN TEMPO REALE, ENORMEMENTE PARALLELO</h2>
      <h3>VELOCE, FACILE DA USARE</h3>
      <p>Usa SQL per leggere e scrivere con tempo di risposta sotto il secondo.</p>
      <h3>ALTA DISPONIBILITA’</h3>
      <p>I Cluster Crate sono persistenti e resistenti. I nodi che falliscono vengono rimossi e nuovi nodi vengono aggiunti.</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>CRATE CONTRO UN MISCUGLIO DI TECNOLOGIE</h2>
      <p>Crate è stato costruito in modo che gli sviluppatori con un back-end dei dati trafficato non debbano “incollare” assieme diverse tecnologie per archiviare documenti, blob e supportare la ricerca in tempo reale. Volevamo anche aiutare gli sviluppatori a evitare il lavoro manuale associato con la sintonizzazione, frammentazione, replica e altre operazioni necessarie per mantenere un grande archivio di dati de-normalizzato in buona forma. Volevamo un archivio dati semplice, che tollerasse i guasti e altamente scalabile che chiunque potesse utilizzare, su una singola macchina, molte macchine o sul cloud. Un archivio di dati per le applicazioni ad alta intensità di dati ha bisogno di essere persistente, scalabile orizzontalmente e sostenere questi cinque requisiti: (1) archiviare documenti, (2) blobs, (3) trovarli di nuovo (4) lanciare query (analisi) e (5) consentire di apportare modifiche semplici nella struttura dati, se necessario.</p>
      <p>Non potrebbero gli sviluppatori semplicemente incollare insieme diverse tecnologie e ottenere gli stessi risultati? Ecco alcuni esempi:</p>
      <ul>
        <li>MongoDB + ElasticSearch + GridFS. GridFS supporterebbe archivio blob, ElasticSearch la ricerca e MongoDB farebbe il resto. Creare dei cambi nella struttura dati potrebbe essere difficile però e scalarli e trattare ambienti multi nodo potrebbe rendersi difficile da gestire.</li>
        <li>Riak + Solr + Rados. Rados per archivio blob, Solr per le ricerche e Riak per il resto. Questo è molto simile alla prima opzione e ne condivide i problemi.</li>
        <li>CouchDb (archivio documenti e analisi) + ElasticSearch (ricerca) + HDFS (archivio blob, archiviazione) + Hadoop (analisi e cambi). Questa soluzione avrebbe molti dei problemi associati ad Hadoop e con la sua idoneità a pesanti carichi di lettura e scrittura.</li>
      </ul>
      <p>Vediamo come Crate.IO affronta questi 5 requisiti, supportando anche un archivio dati con auto-riparazione e auto-configurazione.</p>
      <p>1. <strong>Memorizzazione Documenti</strong><br />
        Crate memorizza i documenti con la funzionalità interna di Lucene e ElasticSearch. Crate aggiunge la funzionalità di dump/restore per gli aggiornamenti alle versioni maggiori e questo porta il recupero di un punto preciso nel tempo al livello successivo.<br />
        2. <strong>Memorizzazione Blob</strong><br />
        La memorizzazione Blob è fatta in modo trasparente, utilizzando l&#8217;implementazione blob di Crate, che è basata sulla semantica del cluster elasticsearch per la distribuzione, la replica e l&#8217;allocazione. Memorizza semplicemente i blob direttamente nell’area utente del file system.<br />
        3. <strong>Ricerca Documenti</strong><br />
        Crate usa Elasticsearch per la ricerca – è davvero il meglio esistente come velocità.<br />
        4. <strong>Analisi in tempo reale usando SQL</strong><br />
        Crate consente l’analisi dei dati in tempo reale utilizzando SQL attraverso il motore di Analisi Query, il motore di pianificatore e esecuzione distribuita. Questo aggiunge funzionalità avanzate di ordinamento e raggruppamento per fornire funzionalità tipo SQL come &#8220;group by &#8230;” e “order by&#8221;. Puoi pensarlo come un Map / Reduce, ma in tempo reale.<br />
        5. <strong>Fare cambi senza dover rifare tutto</strong><br />
        Ricordate i bei tempi in cui la ristrutturare un intero database relazionale era possibile utilizzando un singolo script SQL? Crate implementa questa funzionalità prendendo in prestito la capacità di mettere il risultato di una query direttamente in uno o più indici. Questa esigenza diventa ancora più importante su database basati su documenti, dove i dati vengono spesso memorizzati in un formato altamente denormalizzato</p>

      </div>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col col-sm-12">
      <h2>Requisiti</h2>
      <p>Linux, Mac OS X o Windows Java 7 Python (per il client a linea di comando)</p>
      <h2>Client e Strumenti</h2>
      <p>Crate viene distribuito con una Interfaccia Amministratore. L’interfaccia a linea di comando (Crate Shell – CraSh) consente di fare query interattive. Il client Python di Crate è molto avanzato e implementa l’integrazione SQLAlchemy.</p>
      <p><a class="btn btn-primary" href="{% url '/docs.html' %}">Scarica Crate</a></p>
    </div>
  </div>
</div>
{% endblock %}
