title: Contact Us
description: Get in touch with the people behind Crate!

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <h1><i class="fa fa-paper-plane"></i> Contact Us</h1>
    <p class="lead">Get in touch with the people behind Crate!</p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Office Berlin</h2>
      <p><b>Crate.IO GmbH</b>
        <br />Prinzessinnenstra&szlig;e 19-20
        <br />10969 Berlin
        <br />Germany
        <br /><a href="http://goo.gl/9m3jz7">Show on Google Maps</a>
      </p>
      <h2>Office San Francisco</h2>
        <p><b>Crate.IO</b>
        <br />620 Folsom Street
        <br />San Francisco, CA 94107
        <br />United States
        <br /><a href="https://goo.gl/maps/IhiQP">Show on Google Maps</a>
      </p>
      <h2>Office Austria</h2>
      <p><b>CRATE Technology GmbH</b>
        <br />Hintere Achm&uuml;hlerstra&szlig; 1
        <br />6850 Dornbirn
        <br />Austria
        <br /><a href="https://goo.gl/maps/TwLm6">Show on Google Maps</a>
      </p>
    </div>
    <div class="col-sm-8">
      <h2>Reach out for certain people</h2>
      <table class="table">
        <tr>
          <td>Media</td>
          <td><a href="mailto:media@crate.io">media@crate.io</a></td>
        </tr>
        <tr>
          <td>Meetups</td>
          <td><a href="mailto:meetups@crate.io">meetups@crate.io</a></td>
        </tr>
        <tr>
          <td>Partnering / Business Development</td>
          <td><a href="mailto:busdev@crate.io">busdev@crate.io</a></td>
        </tr>
      </table>

      <h2>Help and Support</h2>
      <table class="table">
        <tr>
          <td>IRC</td>
          <td><a href="http://webchat.freenode.net/?channels=crate">http://webchat.freenode.net/?channels=crate</a></td>
        </tr>
        <tr>
          <td>Github</td>
          <td><a href="https://github.com/crate">https://github.com/crate</a></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><a href="mailto:support@crate.io">support@crate.io</a></td>
        </tr>
      </table>
      
      <h2>Social Media</h2>
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/CrateIO">Twitter</a></li>
        <li><a href="https://fb.me/cratedata">Facebook</a></li>
      </ul>

    </div>
  </div>
</div>
</div>
{% endblock %}
