title: About
description: We are about building a new kind of data store: a zero administration data store that is massively scalable and dead simple to use.

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <h1>About Crate.IO</h1>
    <p class="lead">We are about building a new kind of data store: a zero administration data store that is massively scalable and dead simple to use.</p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>Be Open and Open Source</h2>
      </div>
      <p>We have a strong open source background, mainly through Plone and Zope. We believe that open software is better software, and we have seen time and time again how openness enables organizations to achieve extraordinary outcomes with their data. Crate's ability to rapidly build and ship innovative software owes a great deal to the availability of high-quality open-source software that is freely available to integrate as components of larger works.</p>
      <p>A few high profile modules power various pieces of our technology stack, namely Lucene, Netty, Elasticsearch and Facebook Presto. Crate.IO delivers its software as Open Source, accessible at public open source repository on GitHub. Going forward, we will continue to release open source components of our software and make them available to the public.</p>
      <div class="page-header">
        <h2>Why we built Crate</h2>
      </div>
      <p>Crate.IO was founded in 2013 by Jodok Batlogg, Christian Lutz and Bernd Dorn. Our prior experience was all about working with large data sets and setting up the elements to support them. Our experience taught us to pay attention to ease of use, from simple installation to painless operation of huge clusters. Data stores should be simple for developers to use. Big Data mountains grow everywhere. Yet it is still difficult to design, develop and operate back-end services that truly scale. Underlying traditional databases don’t scale well; solutions are  expensive.</p>
      <p>There is a human factor at play, too. Finding devops personnel with extended cluster management and big data experience is difficult and costly. We offer a cluster software stack for querying, storing and searching the world’s information. We support many kinds of data including structured, unstructured, relational, temporal and geospatial, and Crate Data REALLY scales well. Our product is built with a focus on scalability, ease of use, collaboration and integration.</p>
      <p>Crate is already deployed in e-commerce, startup, mobile app, automotive and internet of things companies, and is spreading rapidly. We are deeply passionate about building great software and a successful company.</p>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-light">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>The Founders</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static '/static/images/jodok-batlogg.jpg' %}" alt="Jodok Batlogg" />
	<div class="caption">
	  <p><b>Jodok Batlogg</b>
	  <br />Founder and CEO
	  <br /><i class="fa fa-envelope-o"></i> <a href="mailto:jodok@crate.io">jodok@crate.io</a>
	  <br /><i class="fa fa-phone"></i> +43 664 9636 963</p>
	  <p>Jodok has deep experience and wide recognition for his expertise in open source and big data. He is the former CTO at StudiVZ (Germany’s Facebook), the former CTO at Sevenload and CEO of Lovely Systems. He is also a director of the Plone & Zope foundations. Jodok loves his skis and his chainsaw and is an adventurous eater.</p>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static '/static/images/christian-lutz.jpg' %}" alt="Christian Lutz" />
	<div class="caption">
	  <p><b>Christian Lutz</b>
	  <br />Founder and COO
	  <br /><i class="fa fa-envelope-o"></i> <a href="mailto:christian@crate.io">christian@crate.io</a>
	  <br /><i class="fa fa-phone"></i> +43 676 5000 144</p>
	  <p>Christian is a successful builder of software companies, including enterprise delivery platforms and big consumer portals. He was co-Founder and COO of the Impossible Project (owner of the last Polaroid factory; bringing Instant Photography back), CEO of ucp morgen, SVP Qpass Inc, CEO at uboot.com &amp; sms.at and President Fatfoogoo. Christian is a serial entrepreneur, freerider and mountaineer at heart.</p>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static '/static/images/bernd-dorn.jpg' %}" alt="Bernd Dorn" />
	<div class="caption">
	  <p><b>Bernd Dorn</b>
	  <br />Founder and CTO
	  <br /><i class="fa fa-envelope-o"></i> <a href="mailto:bernd@crate.io">bernd@crate.io</a>
	  <br />&nbsp;</p>
	  <p>Bernd is Crate’s hardcore architect and hacker with more than a decade of experience in distributed systems, enterprise data store solutions and open source. Before Crate Bernd led the technical team of Lovely systems, building big data solutions for many enterprises. Whatever Bernd starts he excels in, be it kite surfing, tennis, building his house or designing Crate.</p>
	</div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-light">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>Board of Directors</h2>
      </div>
      <p>In addition to Jodok Batlogg and Christian Lutz, our Board of Directors consists of:</p>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static '/static/images/nikolaj-nyholm.jpg' %}" alt="Nikolaj Nyholm" />
	<div class="caption">
	  <p><a href="http://sunstone.eu/team-members/nikolaj-nyholm/"><b>Nikolaj Nyholm</b></a> is a partner at Sunstone and the quintessential university dropout turned technology entrepreneur.</p>
	  <p>At Sunstone, Nikolaj has invested in open source, gaming and web service companies with engagements in Neo Technology, Podio, MakieLab and Seriously to mention a few. Nikolaj joined Sunstone in 2010 from image recognition company Polar Rose (acquired by Apple), and previously founded Speednames/Ascio (acquired by Group NBT); Imity (acquired by Zyb/Vodafone); and Organic Network, a now-defunct Wi-Fi startup whose legacy is OpenWRT.org, the leading open source Wi-Fi project.</p>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static '/static/images/gil-dibner.jpg' %}" alt="Gil Dibner" />
	<div class="caption">
	  <p><a href="http://www.dfjesprit.com/team-member/gil-dibner/"><b>Gil Dibner</b></a> joined DFJ Esprit after eight years of venture capital experience in the United States, Europe, and Israel.</p>
	  <p>Prior to DFJ Esprit, Gil helped lead Index Venture’s seed investment activity in their London office, working with companies across Europe, the US, and Israel. Before joining Index, Gil was a principal with Gemini Israel Ventures, a $200M venture capital fund based in Tel Aviv. There, he led investments in The Gifts Project (acquired by Ebay), JFrog, and LoyalBlocks. Prior to that, as a principal at Genesis Partners, also based in Tel Aviv, Gil was very actively involved in a number of investments including Yedda (acquired by AOL), Innovid, SiSense, and Profitect</p>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="img-responsive" src="{% static '/static/images/tom-peruzzi.jpg' %}" alt="Tom Peruzzi" />
	<div class="caption">
	  <p><a href="https://angel.co/tom-peruzzi"><b>Tom Peruzzi</b></a>, Founder of @aicooma, advisor to different digital startups in Mid Europe and Russia, micro-investor in cool digital stuff delivers strong business and tec background.</p>
	  <p>Tom started and built aicooma, an operations consulting company for digital and media in Europe with all major players as customers, with an exit in 2011.</p>
	  <p>He then successfully invested in several companies (avocadostore, vater hostcom, gpixs360) and helped them build business, adequate technology and grow. As interim CTO Tom helped building one of the first commercial IoT devices in Europe.</p>
	</div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="wrapper wrapper-border">
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>Investors</h2>
      </div>
    </div>
  </div>

  <div class="row row-list-item">
    <div class="col-sm-3">
      <a href="http://sunstone.eu"><img style="max-height:100px;" class="img-responsive" src="{% static '/static/images/sunstone-capital.jpg' %}" alt="Sunstone Capital" /></a>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <p>Headquartered in Copenhagen, <a href="http://sunstone.eu"><b>Sunstone Capital</b></a> is an early-stage Life Science and Technology venture capital company investing in European start-up companies with strong potential to achieve global success in their markets. Since our establishment in 2007, we have built a strong portfolio currently totaling 50 companies and have completed several successful trade sales and IPOs.
      <br />With approximately EUR 700 million in funds under management, Sunstone is today one of the leading and most active independent venture capital investors in the European and Nordic market.</p>
    </div>
  </div>
  <div class="row row-list-item">
    <div class="col-sm-3">
      <a href="http://www.dfj-esprit.com"><img style="max-height:100px;" class="img-responsive" src="{% static '/static/images/dfj-esprit.jpg' %}" alt="DFJ Esprit" /></a>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <p><a href="http://www.dfj-esprit.com"><b>DFJ Esprit</b></a>, member of the The DFJ Network of Partner Funds is a unique global venture capital model providing global reach through local presence. It encompasses over 140 venture capital professionals, in more than 30 cities throughout the US, Asia (including China and India), Europe, Israel, South America, and Russia, with more than 600 portfolio companies funded and over $7 billion of capital under management.
      <br />DFJ Esprit is a single team of partners all of whom benefit from and contribute to the success of our investments. We are entrepreneurs ourselves and we are proud to have built our firm to its current size and are passionate about continually moving forward, which means backing winning companies and doing everything we can to help them achieve and exceed their ambitions.</p>
    </div>
  </div>
  <div class="row row-list-item">
    <div class="col-sm-3">
      <a href="http://speedinvest.com"><img style="max-height:60px;" class="img-responsive" src="{% static '/static/images/speedinvest.png' %}" alt="SpeedInvest" /></a>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <p>Europe is filled with technology and talent. Global innovation in the last century has been driven by European minds: Tesla, Siemens, Einstein, Planck. Today, Europe still consistently produces world-class talent, but there is a gap between raw ability and the resources required to build competitive technology and companies.<br />
      <a href="http://speedinvest.com"><b>SpeedInvest</b></a> not only invests capital in world-class talent, but also provides the entrepreneurial know-how, and operational experience that is rare outside of a place like Silicon Valley, but is so essential to building great companies.</p>
    </div>
  </div>

</div>
</div>
{% endblock %}
