title: Team
description: The team behind Crate.

{% extends "base.html" %}

{% block body %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>The Team Behind Crate</h1>
      </div>
    </div>
  </div>

  <div class="row">
    {% for user in team %}
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="/static/images/{{ user.name|slugify }}.jpg" alt="{{ user.name }}" />
        <div class="caption">
          <h3>{{ user.name }}</h3>
          <p>{{ user.title }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
