title: Partners
description: The Crate Partner ecosystem

{% extends "base.html" %}

{% block navbar2 %}
<div class="wrapper wrapper-plain">
    <nav class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Our Partners</li>
        </ol>
      </div>
    </nav>
</div>
{% endblock %}

{% block header %}
<div class="wrapper wrapper-border wrapper-blogpost-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h1>Partners</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <p class="lead">hello</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>Cloud Providers</h2>
      </div>
      <ul>
        <li>Amazon Web Services</li>
      </ul>
    </div>
  </div>

</div>
</div>
{% endblock %}
