title: Обзор
description: Crate &#8211; это единый мощный сервер для табличных данных, полуструктурированных записей и двоичных объектов (BLOBs). Приложение является высоко доступным и предлагает массово-параллельный доступ в реальном времени, позволяя отвечать на миллиарды записей меньше чем за секунду.

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero" id="wrapper-hero-overview">
  <div class="container">
    <h1>Crate: хранилище данных SQL с легким масштабированием в реальном времени</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Масштабируемость. Простота. Быстрота.</h2>
      <p><strong>Crate &#8211; это неразделяемое, документо-ориентированное кластерное хранилище данных с возможностью поиска: быстрый и мощный массивно-масштабируемый сервер для приложений с обработкой больших объемов данных, Интернета вещей или анализа в режиме реального времени. Это приложение со 100% открытым исходным кодом.</strong></p>
      <p><strong>Crate.IO является хранилищем данных, обладающей преимуществом документо-ориентированной базы данных NoSQL, мощным поиском (Elasticsearch включен в качестве библиотеки), использованием SQL.</strong></p>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>Мощный и сверхбыстрый</h2>
      <p>Crate &#8211; это единый мощный сервер для табличных данных, полуструктурированных записей и двоичных объектов (BLOBs). Приложение является высоко доступным и предлагает массово-параллельный доступ в реальном времени, позволяя отвечать на миллиарды записей меньше чем за секунду.</p>
      <h3>Нулевое администрирование</h3>
      <p>Все узлы Crate.IO являются равными. Добавление узлов в стандартное оборудование или облако выполняется также просто, как ввод одной командной строки в терминале. Кластер Crate имеет функции самонастройки и самовосстановления.</p>
      <h2>Почему Crate?</h2>
      <p>Crate.IO &#8211; это масштабируемое решение в реальном времени, которое предлагает большие преимущества стоимости и эффективности. Crate заняло уникальное место, объединив SQL (например, MySQL), NoSQL (например, MongoDB) и поиск (Lucene/ES).</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive thumbnail" src="{% media '/media/1502/crate-architecture.png' %}" />
    </div>
    <div class="col-sm-6">

      <h3>МАССОВО-ПАРАЛЛЕЛЬНАЯ АРХИТЕКТУРА В РЕАЛЬНОМ ВРЕМЕНИ</h3>
      <h3>БЫСТРО И ЛЕГКО ИСПОЛЬЗОВАТЬ</h3>
      <p>Использует SQL для чтения и записи ответов в течение менее одной секунды.</p>
      <h3>ВЫСОКАЯ ДОСТУПНОСТЬ</h3>
      <p>Кластеры Crate являются надежными и устойчивыми. Неисправные узлы удаляются, новые узлы добавляются.</p>

    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-bg-gray">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>CRATE ПО СРАВНЕНИЮ С ДРУГИМИ ТЕХНОЛОГИЯМИ</h2>
      <p>Приложение Crate.IO было создано, чтобы разработчики интенсивных серверов не нуждались в объединении нескольких технологий для хранения документов, двоичных объектов и поиска в реальном времени. Мы также хотели помочь разработчикам избежать ручной работы, связанной с настройкой, фрагментацией, репликацией и другими операциями, необходимыми для содержания большого хранилища денормализованных данных в хорошем состоянии. Мы хотели создать простое, отказоустойчивое и массивно-масштабируемое хранилище данных, которое можно использовать на одном компьютере, нескольких компьютерах или в облаке.<br />
        Хранилище данных для приложений с обработкой больших объемов данных должно быть надежным, горизонтально масштабируемым и поддерживать следующие пять требований:<br />
        (1) хранение документов, (2) двоичных объектов, (3) выполнение повторного поиска (4) выполнение запросов (аналитика) и (5) прямые изменения структуры данных при необходимости.</p>
      <p>Возможно, разработчики могут просто объединить несколько технологий и получить такие же результаты? Вот некоторые примеры:</p>
      <ul>
        <li>MongoDB + ElasticSearch + GridFS. GridFS поддерживает хранение двоичных объектов, ElasticSearch &#8211; поиск, MongoDB будет делать все остальное. Хотя трудно изменить структуру данных, масштабировать и управлять многоузловой средой.</li>
        <li>Riak + Solr + Rados. Rados для хранения двоичных объектов, Solr для поиска и Riak для остального. Очень похоже на первый вариант и имеет такие же проблемы.</li>
        <li>CouchDb (хранение документов и аналитика) + ElasticSearch (поиск) + HDFS (хранение двоичных объектов, архивация) + Hadoop (аналитика и изменения). Это решение имеет множество проблем, связанных с Hadoop, а также стабильностью при большом объеме чтения и записи.</li>
      </ul>
      <p>Давайте посмотрим, как Crate справляется с этими 5 требованиями при одновременной поддержке самовосстановления и самонастройки хранилища данных.</p>
      <p>1. <strong>Хранение документов</strong><br />
        Crate.IO сохраняет документы с помощью встроенной технологии Lucene и ElasticSearch. Приложение Crate добавило функции дампа/восстановления для всех крупных обновлений версий, что переводит «восстановление на определенный момент времени» на новый уровень.<br />
        2. <strong>Хранение двоичных объектов</strong><br />
        Хранение двоичных объектов выполняется прозрачно с помощью реализации двоичных объектов Crate, встроенных в семантику кластера Elasticsearch для распространения, репликации и размещения. Оно просто сохраняет двоичные объекты прямо в файловой системе пользователя.<br />
        3.<strong> Поиск документов</strong><br />
        Crate использует Elasticsearch для поиска – это лучшее из доступных скоростных средств.<br />
        4. <strong>Анализ данных в режиме реального времен с помощью SQL</strong><br />
        Crate позволяет анализировать данные в режиме реального времен с помощью SQL через анализатор, планировщик и механизм выполнения распределенных запросов. Это добавляет расширенные функции группирования и сортировки для обеспечения функциональности SQL типа “group by … having ..” и “order by”. Представьте себе MapReduce, но в реальном времени.<br />
        5. <strong>Выполнение изменений без общего переделывания</strong><br />
        Помните старые добрые времена, когда реструктуризацию всей реляционной базы данных можно было выполнить с помощью одного сценария SQL? Crate реализует эту функцию с помощью записи результата запроса прямо в один или несколько индексов. Это требование стало более необходимым в базах данных документов, где данные часто хранятся в денормализованном формате.</p>
    </div>
  </div>
</div>
</div>

<div class="wrapper wrapper-border">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>Требования</h2>
      <p>Linux, Mac OS X или Windows<br />
        Java 7<br />
        Python<br />
        (для клиента командной строки)</p>
      <h2>Клиенты и инструменты</h2>
      <p>Crate поставляется со встроенным интерфейсом администрирования. Интерфейс командной строки (оболочка Crate – CraSh) позволяет выполнять интерактивные запросы. Клиент Python Crate является самым продвинутым и интегрируется с SQLAlchemy.</p>

      <p><a class="btn btn-lg btn-success" href="{% url '/docs.html' %}">Загрузить Crate</a></p>


    </div>
  </div>
</div>
{% endblock %}
