title: Team
description: The team behind Crate.

{% extends "base.html" %}

{% block body %}
<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <h1 class="c-ph-heading">The Awesome Team Behind Crate</h1>
  </div>
</div>

<div class="wrapper wrapper-border team">
  <div class="container">
    <div class="row">
      {% for user in team %}
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail team-thumbnail">
          <img src="/static/images/{{ user.name|slugify }}.jpg" alt="{{ user.name }}" />
          <div class="caption">
            <h3 class="h3-caption">{{ user.name }}</h3>
            <p>{{ user.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
