{% extends "base.html" %}

{% block title %}
UH!&nbsp;This page does not exist.
{% endblock %}

{% block body %}
<p class="lead">Nothing to worry about!</p>
<p>You can either search our site for what you are looking for or go back to our homepage.
  <br>... or look at this random animated kitten gif for a while ...</p>
<div class="w-embed">
  <p>
    <a href="http://thecatapi.com">
      <img src="https://thecatapi.com/api/images/get?format=src&type=gif">
    </a>
  </p>
  <p class="small">
    Powered by <a href="https://thecatapi.com" target="_blank" rel="nofollow">The Cat API</a>.
  </p>
{% endblock %}

{% block scripts %}
  <script>
    analytics.page('error_404');
  </script>
{% endblock %}
