title: Developer Advocate / Developer Relations
description: Help us spread the word on Crate and meet developers around the world
role: Developer Advocate
location: Berlin, Germany
type: Full-time
updated: August 25, 2015

{% extends "job.html" %} {% block description %}

# Join our Growth Team!
Crate revolutionizes the way scalable backends are built. Instead of nailing together different services to build a backend data store and wondering how to scale when data grows from millions to billions, Crate's distributed SQL database offers the simplicity and scalability that is needed from the outset. We believe in open source and know that open software is better software.

We are a technology startup - Winner of TechCrunch Disrupt 2014 - backed by Sunstone Capital and Draper Esprit (formerly DFJ Esprit) and are located in the center of the startup epicenter Kreuzberg, Berlin. We have offices in San Francisco and Austria, so expect to see the sea and mountains now and then.

## Your Responsibilities
- As a Developer Advocate based in Europe your main task will be to promote a public presence for the Crate Open Source Software and interface within the developer community and partners who have integrated with us
- Successful advocates will be interested in building applications and have the ability to think about different application areas (consumer, enterprise), as well as understand software architecture and solutions
- Working on the content of our Website, Code Examples, Demonstrators
- Maintenance of our Social Media Channels
- Your will work closely with our offices in Dornbirn and San Francisco

## Must Have
- Respected by developers. You need to be able to be a credible partner in a technical conversation. Previous roles as a developer advocate/evangelist, developer (mobile/web/other), product manager with a developer background or sales engineer are preferred.
- Ideally you have already a great web/public presence on Github, personal page, Twitter, SlideShare/Speaker Deck etc.
- Technical background: Proficiency in multiple programming languages (Python, Ruby, Java, Objective C, JavaScript, C++, etc.) and a clear desire to learn.
- Experience with platforms and mainstream programming languages
- Familiarity with other up-to-date technologies and trends a plus
- Experience in fields relating to Crate, such as databases, scalable databases, NoSQL or large scale applications a plus.

## Your Personal Profile
- **A developer-lover**. We live and die by developers. You should be spending as much time as possible talking to developers. You reach out and start the conversation. You find users who decided not to use Crate and talk to them too.
- **Agile**. Startup marketing means working with unknowns. The product changes daily, marketing messages are invented and discarded, and just when you think you've got the right combination the world changes around you.
- **Self-motivated**. There will not always be a set list of tasks to work on, but rather a set of goals we are aiming towards. You will be expected to identify the tasks, people and methods for accomplishing these and feel confident in your decisions to get started.
- **Willing to learn detail**. You need to know what you're talking about. We're building a distributed data store where people store their data! While you probably won't know this on the first day, you need to be interested in understanding our market, our customers and our product.
- **A traveller and love to engage with people**. We have users from all over the world. Your focus is on Europe especially the startup hubs like Berlin, London or Stockholm and you like meeting people at such events and locations.
- **A Social Media doer**. We'd like to see you earning Github stargazers, attracting Twitter followers and successful blog outreach campaigns that work.
- **Devoted to measurement**. You truly embrace measurement. This helps to understand the effect of what we do.

## What We Offer
- Market-based compensation
- Young and dynamic team
- International Flair
- Central and modern office
- The opportunity to become part of one of the most exciting startups in the IT scene (Winner of TechCrunch Disrupt Europe 2014)

## HIRING PROCESS
1. We review your profile to see if it has what we're looking for
2. If it does, we'll do a video interview with one of the founders (Christian Lutz or/and Jodok Batlogg)
3. The third round usually is a face-to-face meeting at the closest office (Berlin, Dornbirn or San Francisco)
4. If everything goes well and we see a good fit you'll get a job offer :)

We try hard to make this process as quick and smooth as possible. We promise to respond quickly and respect your time.

**Send you application including a CV and photo via email to jobs@crate.io**

{% endblock %}
