title: Developer Advocate / Developer Relations
description:
role: Developer Advocate
location: Berlin, Germany
type: Full-time
updated: July 01, 2015

{% extends "job.html" %} {% block description %}

# Join our Growth Team!
Crate.IO has built a new breed of database to serve today's mammoth data needs. Based on the familiar SQL syntax, Crate combines high availability, resiliency and scalability in a distributed design that allows you to query mountains of data in real-time, not batches. We solve your data scaling problems and make administration a breeze. Easy to scale, simple to use. We will make an impact on how large scale backends run in the future. Our engineers work on massive scalability, new storage solutions, support for large-scale applications and new concepts for developers. We're a technology startup backed by Sunstone Capital and Draper Esprit (formerly DFJ Esprit) and are located in the center of the startup epicenter in Berlin Kreuzberg. We have offices in San Francisco and Austria, so expect to see the mountains now and then.

## Your Responsibilities
As a Developer Advocate based in Europe you will promote a public presence for the Crate Open Source Software and interface with the developer community and partners who have integrated with us. Successful advocates will be interested in building applications and have the ability to think about different application areas (consumer, enterprise), as well as understand software architecture and solutions. You will work closely with our team in San Francisco.

## Requirements
- Respected by developers. You need to be able to be a credible partner in a technical conversation. Previous roles as a developer advocate/evangelist, developer (mobile/web/other), product manager with a developer background or sales engineer are preferred.
- Ideally you have already a great web/public presence on Github, personal page, Twitter, SlideShare/Speaker Deck etc.
- Technical background: Proficiency in multiple programming languages (Python, Ruby, Objective C, JavaScript, C++, etc.) and a clear desire to learn.
- Experience with platforms and mainstream programming languages
- Familiarity with more up-to-date technologies a plus

## Your Personal Profile
- **A developer-lover.** We live and die by developers. You should be spending as much time as possible talking to developers. You reach out and start the conversation. You find users who decided not to use Crate and talk to them too.
- **Agile.** Startup marketing means working with unknowns. The product changes daily, marketing messages are invented and discarded, and just when you think you've got the right combination the world changes around you.
- **Willing to learn detail.** You need to know what you're talking about. We're building a distributed data store where people store their data! While you probably won't know this on the first day, you need to be interested in understanding our market, our customers and our product.
- **A traveller and love to engage with people.** We have users from all over the world. Your focus is on Europe especially the startup hubs like Berlin, London or Stockholm and you like meeting people at such events and locations.
- **A Social Media doer.** We'd like to see you earning Github stargazers, attracting Twitter followers and successful blog outreach campaigns that work.
- **Devoted to measurement.** You truly embrace measurement. This helps to understand the effect of what we do.

Note: If you think you fit that role, but you can not be based in Berlin, still talk to us to convince us :-)

{% endblock %}
