title: Java Software Engineer
description:
role: Software Engineering
location: Berlin/Germany, Dornbirn/Austria
type: Full-time
updated: May 29, 2015

{% extends "job.html" %} {% block description %}

Crate's software engineers develop the next-generation data store, a unique combination of a powerful distributed database that can be installed, operated and programmed very easily. Our ambitions reach out to allow any developer to run and maintain a highly available backend as simple as running an app server. As a software engineer, you work on a small team and directly impact the future of the product. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.

As a key member of a small and versatile team, you design, test, deploy and maintain software solutions in a fast paced startup based in Berlin/Germany, Dornbirn/Austria.

# Your Responsibilities
Write code for the core of our new generation of distributed database, implementation of high-performance "shared-nothing" Java components, planning and development in the Scrum team.

# Must Have
Extensive professional experience as developer and in programming in Java. Large scale design experience with Linux and SQL. Fun on doing new and edgy stuff.

# Preferred Qualifications
A solid foundation in computer science, with strong competencies in data structures, algorithms, and software design. Experience with test driven development, asynchronous programming, Netty, Elasticsearch, Lucene, Big Data and Map Reduce (Hadoop, Hive, Presto, Pig), Databases (Postgres, MySql, Oracle etc), Scrum.

Crate is an engineering company. We hire people with a broad set of technical skills who are ready to tackle the next great challenge in distributed database technology. We will make an impact on how large scale backends are run in the future. Our engineers work on massive scalability, new storage solutions, support for large-scale applications and new concepts for developers.

{% endblock %}
