title: Java Software Engineer
description:
role: Software Engineering
location: Berlin/Germany
type: Full-time
updated: August 25, 2015

{% extends "job.html" %} {% block description %}


## Location
Berlin, Germany

## About Us
Our vision is to revolutionize the way scalable backends are built. Instead of nailing together different services to build a backend data store and wondering how to scale when data grows from millions to billions, Crate's distributed database offers the simplicity and scalability that is needed from the outset.
We believe in open source and we are convinced that open software is better software.

Crate's software engineers develop this next-generation data store, a unique combination of a powerful distributed database that can be installed, operated and programmed very easily. Our ambitions reach out to allow any developer to run and maintain a highly available backend as simple as running an app server. As a software engineer, you will work on a small team and directly impact the future of the product. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.
As a key member of our team, you design, test, deploy and maintain software solutions in a fast paced startup based in Berlin, Dornbirn (Austria) and San Francisco.

## YOUR RESPONSIBILITIES
- Write code for the core of our new generation of distributed database
- Implementation of high-performance "shared-nothing" Java components
- Planning and development in the Scrum team

## MUST HAVE
- Extensive professional experience as a developer
- Solid knowledge and practical experience with Java
- Fun working on new and edgy stuff

## PREFERRED QUALIFICATIONS
- A solid foundation in computer science, with strong competencies in data structures, algorithms, and software design
- Experience with test driven development, asynchronous programming, Netty, Elasticsearch, Lucene, Big Data and Map Reduce (Hadoop, Hive, Presto, Pig), databases (Postgres, MySql, Oracle,...), Scrum
- Open Source Contributions (if applicable, please send us your Github Account etc.)

## HIRING PROCESS
1. We review your profile to see if it has what we're looking for
2. If it does, we'll do a video interview with one of the founders (Christian Lutz or/and Jodok Batlogg)
3. The third round usually is a face-to-face meeting at the closest office (Berlin, Dornbirn or San Francisco)
4. If everything goes well and we see a good fit you'll get a job offer :)

We try hard to make this process as quick and smooth as possible. We promise to respond quickly and respect your time.

{% endblock %}
