title: Online Marketing Expert
description:
role: Online Marketing Expert
location: Berlin, Dornbirn or San Francisco
type: Full-time
updated: September 16, 2015

{% extends "job.html" %} {% block description %}

# JOIN OUR TEAM!
Crate revolutionizes the way scalable backends are built. Instead of nailing together different services to build a backend data store and wondering how to scale when data grows from millions to billions, Crate's distributed SQL database offers the simplicity and scalability that is needed from the outset. We believe in open source and know that open software is better software.

We are a technology startup - Winner of TechCrunch Disrupt 2014 - backed by Sunstone Capital and Draper Esprit (formerly DFJ Esprit) and are located in the center of the startup epicenter Kreuzberg, Berlin. Our current main focus is to increase our outreach on all relevant levels.

We have offices in San Francisco and Austria.

## YOUR REPONSIBILITIES
- As a Online Marketing Expert your main task will be to promote a public presence for the Crate Open Source Software and to be the central point of touch for all our Berlin-based marketing activities (like conferences, IT meetups, campaigns etc.)
- Working on the content of our Website and other communication channels
- Maintaining our Social Media Channels
- Managing our event agenda and tasks
- Team Administration
- Working closely with our offices in Dornbirn and San Francisco

## MUST HAVE
- A passion for marketing and sales
- Proven marketing skills (university degree preferred)
- Very good command of English and German
- Good communicator and open personality (with a heart for geeks)
- Strong sense for structure and result-driven actions
- Familiarity with Online Marketing and Social Media
- Familiarity with IT and technology trends a plus

## WHAT WE OFFER
- Market-based compensation
- Young and dynamic team
- International Flair
- Central and modern office
- The opportunity to become part of one of the most exciting startups in the IT scene (Winner of TechCrunch Disrupt Europe 2014)

## HIRING PROCESS
1. We review your profile to see if it has what we're looking for
2. If it does, we offer you a Video interview with one of our Executives (Christian Lutz or/and Jodok Batlogg)
4. The third round consists of a face-to-face interview in one of our offices in Berlin, Dornbirn or San Francisco
6. If all goes well and we think you're a good fit we will make you an offer

We try hard to make this process as quick and smooth as possible. After receiving an application we try to reply within 1 week. The entire process usually will not take longer than 1 month.

**Send you application including a CV and photo via email to [jobs@crate.io](jobs@crate.io)**

{% endblock %}
