title: Projektmanager/in
description:
role: Projektmanager/in
location: Dornbirn, Österreich
type: Vollzeit
updated: July 13, 2015

{% extends "job.html" %}


{% block description %}

International ausgerichtetes Hightech Startup sucht ab sofort PROJEKTMANAGER/IN

Du verantwortest das Projektmanagement innerhalb unseres Teams und arbeitest eng mit unserem kaufmännischen Geschäftsführer zusammen.  Du koordinierst externe Stellen und bist im Eye-of-the-storm eines schnell agierenden, internationalen Startups (Dornbirn, Berlin, San Francisco):

## Dein Job
- Projektmanagement und Koordination
- Leitung Förderprojekte inkl. Planung/Abrechnung/Tracking/Reporting
- Financial Reporting/Controlling (Buchhaltung ist outgesourced)
- Recruitment Support

## Das bringst du mit
- Verlässlichkeit und Selbstständigkeit
- Flexibilität
- Genaue und effiziente Arbeitsweise
- Freude am Organisieren und Probleme lösen
- Solide Kenntnisse in Projektmanagement und Financial Reporting/Controlling
- Abgeschlossene Ausbildung (bevorzugt Studium)
- Englisch (Von Vorteil: sehr gutes Englisch und Auslandserfahrung)

## Wir bieten
- Leistungsgerechte Entlohnung
- Junges und dynamisches Team
- Internationaler Flair
- Zentrales und modernes Büro

## Arbeitsort
Campus Dornbirn

***

#### Gesetzlich nötiger Hinweis
Das kollektivvertragliche Mindestgehalt für diese Position ist brutto EUR 2.396.- (Vollzeit). Das tatsächliche Gehalt orientiert sich an den beruflichen Qualifikationen.

Bewirb dich per Email/Foto/CV an [jobs@crate.io](mailto:jobs@crate.io).

{% endblock %}
