title: Events
description: Meet the people of Crate.IO at events, conferences, meetups, ... around the world.

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Events</h1>
        <p class="lead">Meet the people of Crate.IO at events, conferences, meetups, ... around the world.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2>Upcoming Events</h2>
      </div>
    </div>
    {% with upcoming_events as events %}
    {% include "event-listing.html" %}
    {% endwith %}

    <div class="row">
      <div class="col-sm-12">
	<h2>Past Events</h2>
      </div>
    </div>
    {% with past_events as events %}
    {% include "event-listing.html" %}
    {% endwith %}

  </div>
</div>
{% endblock %}
