title: Scalable SQL Database with the NoSQL Goodies
description: Crate is the scalable database. Crate allows to query and compute data with SQL in real time by providing a distributed aggregation engine, native search and super simple scalability.

{% extends "base.html" %}

{% block title %}Crate.io: Scalable SQL Database with the NoSQL Goodies{% endblock %}

{% block header %}
<div class="wrapper wrapper-hero" id="wrapper-hero-frontpage">
  <div class="container">
    <h1>Scalable SQL Database with the NoSQL Goodies</h1>
    <p class="lead">Crate allows to query and compute data with SQL in real time by providing a distributed aggregation engine, native search and super simple scalability.</p>
    <p><a class="btn btn-fp-white" href="{% url '/overview.html' %}">Overview</a><a class="btn btn-fp-black" href="{% url '/try.html' %}">Try Crate now!</a></p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p><a href="{% url '/overview.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1502/sql.png' %}" /></a></p>
        <h2>Distributed SQL</h2>
        <p class="">Use familiar SQL syntax for real time distributed queries across a cluster. Crate is based on the Lucene / Elasticsearch ecosystem with built-in support for binary objects (BLOBs).</p>
        <p>Read more about <a href="{% url '/overview.html' %}">Crate's features</a> or <a href="{% url '/install/index.html' %}">learn how to install Crate anywhere!</a></p>
      </div>
      <div class="col-sm-4">
        <p><a href="{% url '/install/cloud/index.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1502/shared_nothing.png' %}" /></a></p>
        <h2>Worry-free setup</h2>
        <p class="">Easy to setup distributed database for apps and services at scale. The perfect fit for ephemeral distributed environments like Docker. Ready-to use for SQL and ORM users.</p>
        <p>Migrate with <a href="https://crate.io/docs/stable/best_practice/index.html">best practice tips</a>.</p>
        <p>Learn how to <a href="{% url '/install/cloud/index.html' %}">install Crate in the cloud</a>.</p>
      </div>
      <div class="col-sm-4">
        <div class="dynamic-content-well">
          <h4 class=""><a href="#">JOINs are nearly ready!</a></h4>
          <p>JOINs have been one of our most requested features and we would welcome your help testing them. Sign up to our testers list and we'll be in touch with details.
{% include "mailchimp-joins.html" %}
          </p>
        </div>
        <div class="dynamic-content-well">
          <h4 class=""><a href="{% url '/blog.html' %}">The Latest Posts</a></h4>
          <table class="table">
            {% for post in blog|slice:":3" %}
            <tr>
              <td><a href="{{ post.url }}" title="{{ post.title|escape }}">{{ post.title }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="dynamic-content-well">
          <h4 class=""><a href="{% url '/events.html' %}">Meet Us Here</a></h4>
          <table class="table">
            {% for event in upcoming_events|slice:":3" %}
            <tr>
              <td><a href="{{ event.url }}" title="{{ event.title|escape }}">{{ event.title }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="col-lg-12">
          <h2>Crate vs MySQL</h2>
        </div>
        <div class="col-lg-12">
          <p>Crate makes scaling a breeze, while still using standard SQL syntax. It offers auto-sharding and replication, super-fast multi index queries, distributed aggregations and sort, lightning-fast full-text search, and super simple cluster management. Cut the number of nodes in half while gaining a 10-20x performance increase.</p>
          <br />
        </div>

        <div class="col-lg-12">
          <h2>Crate vs NoSQL Solutions</h2>
        </div>
        <div class="col-lg-6">
          <p><strong>Crate vs Cassandra</strong></p>
          <p>Cassandra is great for writes but not so much for reads and requires more constraining schema definitions. Crate offers outstanding full-text search, SQL interface, dynamic cluster resizing, auto-rebalancing, powerful concurrent reads and writes, and the flexibility to grow by allowing aggregates and sorting fields to be changed at anytime.</p>
        </div>
        <div class="col-lg-6">
          <p><strong>Crate vs MongoDB</strong></p>
          <p>No need for a team of specialists to run and scale your cluster. A Crate cluster is extremely simply to scale and manage. Faster aggregations, powerful full-text search, binary object store (BLOB) support, a permissive license, the ability to combine schemas with JSON (unstructured) in one database, as well as the ability to query with SQL standard syntax make Crate a better choice.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="">Crate rocks ...</h2>
        <ul class="list-group">
          <li class="list-group-item">
            ... as a resilient, distributed SQL database for container and microservice-driven environments with automatic sharding and replication.
          </li>
          <li class="list-group-item">
            ... as a "post-Hadoop/next-gen Vertica" solution with accurate distributed distinct aggregations and real time MapReduce via standard SQL queries built on top of Lucene / Elasticsearch.ecosystem.
          </li>
          <li class="list-group-item">
            ... to drastically increase performance and scalability of your MySQL or MongoDB cluster while supporting structured and unstructured data.
          </li>
          <li class="list-group-item">
            ... if you process semistructured/dynamic data, including geospatial data. Crate supports binary objects as well.
          </li>
          <li class="list-group-item">
            ... as a horizontally scaling database for applications that require powerful full-text search and flexible schemas.
          </li>
          <li class="list-group-item">
            ... as flexible deployment solution either local (for dev), on bare metal, cloud VMs, containers.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="">Featured In</h2>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://techcrunch.com/2014/04/24/a-crate-load-of-data/">
              <img class="img-responsive" src="{% media '/media/1502/techcrunch.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://gigaom.com/2014/06/02/crate-pitches-its-zero-admin-data-store-for-the-internet-of-things-and-other-high-concurrency-sectors/">
              <img class="img-responsive" src="{% media '/media/1502/gigaom.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://news.ycombinator.com/item?id=7609323">
              <img class="img-responsive" src="{% media '/media/1502/hackernews.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://inventures.eu/crate-data-wins-at-2014-launchpad-competition">
              <img class="img-responsive" src="{% media '/media/1502/inventures.png' %}" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="">Awards</h2>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/crate-io-wins-techcrunch-disrupt-startup-battle-2.html' %}" title="Crate.IO Wins TechCrunch Disrupt Startup Battle!">
              <img class="img-responsive" src="{% media '/media/1502/techcrunch.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/crate-data-wins-the-2014-structure-launchpad-competition.html' %}" title="Crate Wins the 2014 GigaOm Structure Launchpad Competition">
              <img class="img-responsive" src="{% media '/media/1502/gigaom_launchpad.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/pioneers-festival-final-8.html' %}" title="Crate.IO makes it to the Final 8 at Pioneers Festival">
              <img class="img-responsive" src="{% media '/media/1502/pioneers.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <a href="https://eir.cisco.com/">
              <img class="img-responsive" src="{% media '/media/1502/cisco.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <a href="http://sxsw.com/interactive/news/2015/seventh-annual-sxsw-accelerator%C2%AE-finalists-judges-and-emcees-revealed-2015">
              <img class="img-responsive" src="{% media '/media/1502/sxsw.png' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- @start mc_joins_form -->
    <script>
      var mc_joins_form = document.getElementById('mc-joins-form');
      analytics.trackForm(mc_joins_form, 'subscribe_joins');
    </script>
    <!-- @end mc_joins_form -->
{% endblock %}
