title: Put data to work. Simply.
description: We live in a fast moving, data rich world that's only getting faster and more complex by the day. Which is why we've crafted a new kind of data solution: a super simple, infinitely scalable SQL database that functions at the speed of your business, delivering instant results.

{% extends "base.html" %}

{% block title %}Crate.io: Scalable SQL Database with the NoSQL Goodies{% endblock %}

{% block header %}
<div class="wrapper wrapper-hero" id="wrapper-hero-frontpage">
  <div class="container">
    <h1>Put data to work. Simply.</h1>
    <p class="lead">We live in a fast moving, data rich world that's only getting faster and more complex by the day. Which is why we've crafted a new kind of data solution: a super simple, infinitely scalable SQL database that functions at the speed of your business, delivering instant results.</p>
    <p><a class="btn btn-fp-white" href="{% url '/overview.html' %}">Overview</a><a class="btn btn-fp-black" href="{% url '/try.html' %}">Try Crate now!</a></p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead">
          Crate.IO fits snugly into your existing architecture, putting your data to work seamlessly alongside your applications. And sustains your business as it grows.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Super simple</h2>
        <p>We make scaling and accessing data super simple, regardless of volume, type, or complexity. Crate.IO feels and functions like the SQL databases you know. And unlike more complicated solutions, Crate.IO makes scaling and operating ridiculously easy.</p>
        <p><a href="/try/">Try it yourself!</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Plays well with others</h2>
        <p>While Crate.IO can be a standalone database, it works great when you plug it into your existing architecture — e.g. Hadoop, MongoDB or MySQL. Crate.IO is open source and runs anywhere. We work closely with our customers, partners, and community to make working with data easy and accessible for anyone.</p>
        <p><a href="/overview/">See how</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Delivers fast results</h2>
        <p>From the speed of integration to the speed of querying, Crate.IO delivers real results, real fast, in real time. There's no lengthy, complex set up. Plug it in and it's raring to go, instantly giving you what you need.</p>
        <p><a href="/install/">Get fast results</a></p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper  wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><a href="/use-cases/case-studies/clearvoice-simplifies-their-scalable-backend-with-crate-data/"><img class="center-block img-responsive thumbnail" src="{% media '/media/1508/cs-logo-clearvoice.png' %}" /></a></p>
        <h2>Big Data Analytics</h2>
        <p>ClearVoice simplifies their scalable backend with Crate.</p>
        <p><a href="/use-cases/case-studies/clearvoice-simplifies-their-scalable-backend-with-crate-data/">Read more</a></p>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><a href="/use-cases/case-studies/how-voipstudio-searches-multiple-cloud-systems-with-crate/"><img class="center-block img-responsive thumbnail" src="{% media '/media/1508/cs-logo-voipstudio.png' %}" style="max-height: 58px" /></a></p>
        <h2>Full Text Search</h2>
        <p>VoIPstudio uses Crate for querying text in hundreds of millions of customer call records distributed across world with millisecond response rates.</p>
        <p><a href="/use-cases/case-studies/how-voipstudio-searches-multiple-cloud-systems-with-crate/">Read more</a></p>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><a href="/use-cases/case-studies/avuxi-ranks-everywhere-on-earth-with-crate/"><img class="center-block img-responsive thumbnail" src="{% media '/media/1508/cs-logo-avuxi.png' %}"  style="max-height: 58px"/></a></p>
        <h2>Geospatial Queries</h2>
        <p>AVUXI uses Crate to analyze 20 million geolocation events a day providing location based marketing intelligence.</p>
        <p><a href="/use-cases/case-studies/avuxi-ranks-everywhere-on-earth-with-crate/">Read more</a></p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><a href="/blog/crate-io-wins-techcrunch-disrupt-startup-battle-2/">Crate.IO wins Techcrunch Disrupt Startup Battle!</a></h2>
        <div style="background-image: url(https://cdn.crate.io/media/1511/techcrunch-index.jpg); background-position: cover; background-repeat: no-repeat; height: 300px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-border">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="">Featured In</h2>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://techcrunch.com/2014/04/24/a-crate-load-of-data/">
              <img class="img-responsive" src="{% media '/media/1502/techcrunch.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://gigaom.com/2014/06/02/crate-pitches-its-zero-admin-data-store-for-the-internet-of-things-and-other-high-concurrency-sectors/">
              <img class="img-responsive" src="{% media '/media/1502/gigaom.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://news.ycombinator.com/item?id=7609323">
              <img class="img-responsive" src="{% media '/media/1502/hackernews.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="http://inventures.eu/crate-data-wins-at-2014-launchpad-competition">
              <img class="img-responsive" src="{% media '/media/1502/inventures.png' %}" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="">Awards</h2>
        <div class="row row-logos">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/crate-io-wins-techcrunch-disrupt-startup-battle-2.html' %}" title="Crate.IO Wins TechCrunch Disrupt Startup Battle!">
              <img class="img-responsive" src="{% media '/media/1502/techcrunch.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/crate-data-wins-the-2014-structure-launchpad-competition.html' %}" title="Crate Wins the 2014 GigaOm Structure Launchpad Competition">
              <img class="img-responsive" src="{% media '/media/1502/gigaom_launchpad.png' %}" />
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
            <a href="{% url '/blog/pioneers-festival-final-8.html' %}" title="Crate.IO makes it to the Final 8 at Pioneers Festival">
              <img class="img-responsive" src="{% media '/media/1502/pioneers.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <a href="https://eir.cisco.com/">
              <img class="img-responsive" src="{% media '/media/1502/cisco.png' %}" />
            </a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <a href="http://sxsw.com/interactive/news/2015/seventh-annual-sxsw-accelerator%C2%AE-finalists-judges-and-emcees-revealed-2015">
              <img class="img-responsive" src="{% media '/media/1502/sxsw.png' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- @start mc_joins_form -->
    <script>
      var mc_joins_form = document.getElementById('mc-joins-form');
      analytics.trackForm(mc_joins_form, 'subscribe_joins');
    </script>
    <!-- @end mc_joins_form -->
{% endblock %}
