title: Crate.IO Newsletter
description:  Subscribe to our monthly newsletter announcing new features, events, and Crate community news.

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-bg-primary">
  <div class="container">
    <h1>Crate.IO Newsletter</h1>
    <p class="lead">Subscribe to our monthly newsletter announcing new features, events, and Crate community news.</p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border">
<div class="container">

  <div class="row">
    <div class="col-sm-8">
      {% include "mailchimp-large.html" %}
    </div>
    <div class="col-sm-4">
      <div class="page-header">
        <h3>Recent Blog Posts</h3>
        <p>Read the latest news on our <a href="{% url '/blog.html' %}">blog</a>.</p>
      </div>
      <ul class="list-unstyled">
        {% for post in blog.pages|slice:":3" %}
        <li>
          <h4>{{ post.title }}<br /><small>{{ post.date|date }}</small></h4>
          <p><a href="{{ post.url }}" title="Read">Read &raquo;</a></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}
