<!DOCTYPE html>
<html>
<head>
  <!-- @start wf_head -->
{% block wf_head %}{% include "head.html" %}{% endblock %}
  <!-- @end wf_head -->
</head>
<body>
  <!-- @start wf_header -->
{% block wf_header %}{% include "wf_header.html" %}{% endblock %}
  <!-- @end wf_header -->

  <!-- @start content -->
{% block content %}{{ content }}{% endblock %}
  <!-- @end content -->

  <!-- @start wf_footer -->
{% block wf_footer %}{% include "wf_footer.html" %}{% endblock %}
  <!-- @end wf_footer -->
  <!-- @start scripts -->
{% block scripts %} {% endblock %}
  <!-- @end scripts -->
</body>
</html>
