<footer class="w-section footer">
  <div class="w-container">
    <div class="w-clearfix">
      <ul class="w-list-unstyled footer-list">
        <li class="footer-listitem">
          <a href="https://www.facebook.com/cratedata" target="_blank" class="w-inline-block footer-link-connect"><img width="12" src="{% static '/static/images/f-logo-facebook.png' %}">
          </a>
        </li>
        <li class="footer-listitem">
          <a href="https://twitter.com/CrateIO" target="_blank" class="w-inline-block footer-link-connect"><img width="23" src="{% static '/static/images/f-logo-twitter.png' %}">
          </a>
        </li>
        <li class="footer-listitem">
          <a href="https://plus.google.com/105753392254543335997" target="_blank" class="w-inline-block footer-link-connect"><img width="23" src="{% static '/static/images/f-logo-google.png' %}">
          </a>
        </li>
        <li class="footer-listitem">
          <a href="https://www.linkedin.com/company/crateio" target="_blank" class="w-inline-block footer-link-connect"><img width="22" src="{% static '/static/images/f-logo-linkedin.png' %}">
          </a>
        </li>
        <li class="footer-listitem">
          <a href="https://www.youtube.com/channel/UCcp_IqjXaejmwBcwg51n1AA" target="_blank" class="w-inline-block footer-link-connect"><img width="24" src="{% static '/static/images/f-logo-youtube.png' %}">
          </a>
        </li>
        <li class="footer-listitem">
          <a href="https://github.com/crate" class="w-inline-block footer-link-connect"><img width="22" src="{% static '/static/images/f-logo-github.png' %}">
          </a>
        </li>
      </ul>
      <ul class="w-list-unstyled footer-list">
        <li class="footer-listitem link-list"><a href="/about" class="footer-link">About</a>
        </li>
        <li class="footer-listitem link-list"><a href="/jobs" class="footer-link">Jobs</a>
        </li>
        <li class="footer-listitem link-list"><a href="/legal" class="footer-link">Legal</a>
        </li>
        <li class="footer-listitem link-list"><a href="/imprint" class="footer-link">Imprint</a>
        </li>
        <li class="footer-listitem link-list"><a href="/contact" class="footer-link">Contact</a>
        </li>
      </ul>
      <a href="/" class="w-inline-block brand footer-brand"><img width="217" src="{% static '/static/images/logo-crate.png' %}">
      </a>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/static/js/webflow.js' %}"></script>
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="https://cdn.crate.io/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{% if console %}
{% block extra_js %}
<script type="text/javascript" src="{% static '/js/ascii-table.js' %}"></script>
<script type="text/javascript" src="{% static '/js/highlight.pack.js' %}"></script>
<script type="text/javascript" src="{% static '/js/terminal.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(e){
    $("form.crate-cli").each(function() {
      var term = new Term(this);
      term.setStatement($(this).find("div.statement").text());
    });
  });
</script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/terminal.css' %}" />
<link rel="stylesheet" href="{% static '/css/zenburn-hljs.css' %}" />
{% endblock %}
{% endif %}

<!-- TODO: make this only on docs pages as above -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
   if(!$('#mobile-menu-toggler').is(':visible')) {
    var $navAffix = $('#nav-affix');
    $navAffix.width($navAffix.outerWidth(true)-32);
    $(window).on('resize', function() {
      $navAffix.width($navAffix.outerWidth(true)-32);
    });
    $navAffix.affix({
      offset: {
        top: $navAffix.position().top - 20,
        bottom: $('footer').outerHeight(true) + 40
      }
    });
    if($('.wrapper-content-right').outerHeight(true) < $navAffix.outerHeight(true))
      $('.wrapper-content-right').height($navAffix.outerHeight(true));
    $('body').scrollspy();
  } else {
    $('.wrapper-navleft').hide();
    $('#mobile-menu-toggler').click(function() {
      $('.wrapper-navleft').toggle();
    })
  }
  window.setTimeout(function() {$('body').append('<a href="https://crate.io/docs/support/slackin/" style="position: fixed; bottom: 20px; right: ' + ($('#intercom-launcher').is(':visible') ? '90' : '20') + 'px; box-shadow: 0 6px 13px 0 rgba(0, 0, 0, .23)"><img src="/static/images/slack.png?adsfadsf" id="slack-container" /></a>'); }, 1000);

</script>

<!-- Segment -->
<script async>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on","setAnonymousId"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
    analytics.load("{{ CONFIG.id_segment }}");
    analytics.setAnonymousId($.cookie('uid'));
    analytics.page();
  }}();
</script>
<!-- @end Segment -->
<link rel="stylesheet" href="https://cdn.crate.io/libs/font-awesome/4.5.0/css/font-awesome.min.css">
