<meta charset="utf-8">
<title>{{title}} | {{ CONFIG.seo_title }}</title>
<meta name="description" content="{{CONFIG.seo_description}}">
<meta name="keywords" content="{{CONFIG.seo_keywords}}">
<meta property="og:title" content="{{CONFIG.og_title}}">
<meta property="og:description" content="{{CONFIG.og_description}}">
<meta property="og:image" content="{{CONFIG.og_image}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static '/static/css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/static/css/webflow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/static/css/crateio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/static/css/zenburn-codehilite.css' %}">
<style type="text/css">
.codehilite > pre { padding: 10px; }
</style>
<script type="text/javascript" src="{% static '/static/js/modernizr.js' %}"></script>
<link rel="shortcut icon" type="image/x-icon" href="{% static '/static/images/favicon.png' %}">
<link rel="apple-touch-icon" href="{% static '/static/images/apple-touch-icon.png' %}">
