<header class="w-section">
  <div class="w-container">
    <div data-collapse="small" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
      <div class="w-container">
        <a href="/" class="w-nav-brand brand"><img width="217" src="/static/images/logo-crate.png">
        </a>
        <nav role="navigation" class="w-nav-menu w-clearfix"><a href="/use-cases" class="w-nav-link navlink">Use Cases</a><a href="/docs" class="w-nav-link navlink">Documentation</a><a href="/not-a-developer" class="w-nav-link navlink">Not a Developer?</a><a href="/articles" class="w-nav-link navlink">Articles</a>
          <div class="w-form wrapper-search">
            <form id="wf-form-Search" name="wf-form-Search" data-name="Search" action="https://cse.google.com/cse/publicurl" method="get">
              <input id="q" type="text" placeholder="Search" name="q" data-name="q" class="w-input textfield-search">
              <div class="w-embed">
                <input type="hidden" name="cx" value="009648942934194962260:bxkpxryedis">
              </div>
            </form>
          </div>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</header>
