title: Building PHP Applications with Crate
description:
heroImg: wrapper-hero-frontpage

{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>Building PHP Applications with Crate</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Crate is a distributed database for Docker that allows you to create a flexible and scalable backend suited to a wide variety of purposes.</p>
      </div>
      <div class="col-sm-12">
        <p>Here you can find all the tools and resources you need to develop scalable PHP applications with the Crate backend.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Install & Develop</h2>
        <p>Our PHP packages are hosted on <a href="https://packagist.org/" target="_blank">Packagist</a> for easy inclusion in your projects. There is a PDO driver and a DBAL Driver that depends on the PDO driver. The code for both drivers is on GitHub.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_packagist.png' %}" height="70" />
      </div>
      <div class="col-sm-8">
        <ul>
          <li><a href="https://packagist.org/packages/crate/crate-pdo" target="_blank">PDO Driver on Packagist</a></li>
          <li><a href="https://packagist.org/packages/crate/crate-dbal" target="_blank">DBAL Driver on Packagist</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_github.png' %}" height="70" />
      </div>
      <div class="col-sm-8">
        <ul>
          <li><a href="http://github.com/crate/crate-pdo" target="_blank">PDO Driver on GitHub</a></li>
          <li><a href="http://github.com/crate/crate-dbal" target="_blank">DBAL Driver on GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Learn</h2>
        <p>
          Find documentation about using Crate with a PHP application and view sample code to get you started.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
      </div>
      <div class="col-sm-8">
        <ul>
          <li><a href="https://github.com/crate/crate-pdo#readme" target="_blank">PDO adapter Instructions</a></li>
          <li><a href="https://github.com/crate/crate-dbal#readme" target="_blank">DBAL adapter instructions</a></li>
          <li><a href="http://level7systems.co.uk/en/using-crate-with-symfony2/" target="_blank">Level7 Systems' blog post on using Crate with Symfony2</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Get your cluster up and running in no time!</h2>
        <p class="text-center">
          <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Feature Headings</h2>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p class="text-center">
          <h2>Sub Heading</h2>
          <img class="img-responsive thumbnail" src="{% media '/media/1503/icon_document.png' %}" />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom wrapper-bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center">
          <a href="{% url '/about/contact.html' %}" class="black-link">Any questions? Feel free to get in touch with us</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
