title: Crate.IO is Dockercon Gold Sponsor
author: Tyler Randles
description: Crate is a gold sponsor for DockerCon 2015
created: 2015-03-26
post_name: dockercon-gold-sponsor-2015
status: publish
post_type: post
tags: Conferences, Docker
category: news
og_image: https://crate.io/media/1503/crate-dockercon.png

<img src="{% media '/media/1503/crate-dockercon-horizontal.png' %}" width="600" height="98" alt="Crate is a DockerCon gold sponsor"/>

We are proud to announce that Crate.IO is an official gold sponsor for DockerCon 2015.

After attending DockerCon in Amsterdam last year we fell in love with the Docker community and have been <a href="{% url '/a/docker-2nd-birthday-san-francisco.html' %}">involved ever since</a>. <a href="http://blog.docker.com/2015/01/dockercon-eu-introducing-docker-swarm/">Docker Swarm</a> and <a href="http://blog.docker.com/2015/01/dockercon-eu-introducing-docker-compose/">Docker Compose</a> made their debut in at DockerCon last year (we have found both tools to be extremely <a href="{% url '/a/deploying-crate-with-docker-machine-swarm.html' %}">helpful</a>) and we can't wait to see what announcements will be made this year.

Join the Crate.IO team at the <a href="https://www.eventbrite.com/e/dockercon-sf-hackathon-tickets-15613226581">Hackathon</a>, come to one of our talks during the conference, or visit us at our booth. Get your <a href="http://www.dockercon.com/">DockerCon tickets</a> today!
