title: Sales Engineer
description: We need your technical and business acumen to drive customer success with Crate.IO
role: Sales Engineer
location: Berlin, Germany
type: Full-time
updated: October 22, 2015

{% extends "job.html" %} {% block description %}

# Join our Sales Engineering Team!
Crate revolutionizes the way scalable databases are built. Instead of duct taping together different services to build a backend data store and wondering how to scale when data grows from millions to billions of records, Crate's simple to use, fully searchable and distributed SQL database offers all this from the ground up.

We are a technology startup, Winner of TechCrunch Disrupt 2014 and backed by Sunstone Capital and Draper Esprit and are located in startup epicenter of Kreuzberg, Berlin. We also have offices in San Francisco, London and Austria, so expect to see the sea and mountains now and then.

## Your Responsibilities
- The Sales Engineering team is a solution generating team that delivers end-to-end solutions to our customers.
- Successful sales engineers understand the growing data processing requirements of the market, and identifies promising leads and builds relations with them.
- Work as a critical technical partner for our sales, product and partnerships teams where your coding abilities, communication skills, desire to solve complex problems, passion for scale and big data, and business acumen will all be leveraged to develop answers to questions most don’t even know to ask.
- Manage the technical relationships with key partners.
- Create content, code samples, and proofs of contept that showcase the value we bring to businesses.
- You will work closely with our offices in Dornbirn, London and San Francisco.

## Must Have
- Customer facing experience in sales, sales engineering, consulting or related function.
- Proficiency in multiple programming languages (Python, Ruby, Java, Objective C, JavaScript, C++, etc.) and a clear desire to learn.
- Ability to construct complex yet efficient SQL queries. Ability to work independently and manage multiple projects simultaneously.
- Experience in fields relating to Crate, such as databases, scalable databases, NoSQL or large scale applications a plus.
- Familiarity with other up-to-date technologies and trends is a plus.

## Your Personal Profile
- **Customer oriented**. We live and die by the Crate Users. You should be spending as much time as possible talking to customers and understand their needs. You reach out and start the conversation. You find users who decided not to use Crate and talk to them too.
- **Agile**. Startup marketing means working with unknowns. The product changes daily, marketing messages are invented and discarded, and just when you think you've got the right combination the world changes around you.
- **Self-motivated**. There will not always be a set list of tasks to work on, but rather a set of goals we are aiming towards. You will be expected to identify the tasks, people and methods for accomplishing these and feel confident in your decisions to get started.
- **Willing to learn detail**. You need to know what you're talking about. We're building a distributed data store where people store their data! While you probably won't know this on the first day, you need to be interested in understanding our market, our customers and our product.
- **A traveller and love to engage with people**. We have users from all over the world. Your focus is the startup hubs like Berlin, London, Stockholm or even San Francisco.
- **Devoted to measurement**. You truly embrace measurement. This helps to understand the effect of what we do.

## What We Offer
- Market-based compensation
- Young and dynamic team
- International Flair
- Central and modern office
- The opportunity to become part of one of the most exciting startups in the IT scene (Winner of TechCrunch Disrupt Europe 2014)

## HIRING PROCESS
1. After reviewing your profile we'll schedule a video interview with the Team you'll be working with and one of the founders Jodok and/or Christian.
2. The next step is a face-to-face meeting with the team at the closest office (Berlin, Dornbirn or San Francisco)
3. You'll get an amazing job offer :)

We try hard to make this process as quick and smooth as possible. We promise to respond quickly and respect your time.

**Send you application including a CV and photo via email to jobs@crate.io**

{% endblock %}
